/*-------BASE STYLES------*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
    height: 100vh;
    text-align: center;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-wrap {
    width: 90vw;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

nav {
    width: 50%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

nav a {
    padding: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #483e3c;
    transition: .3s;
}

nav a:hover {
    color: #4f3129;
    text-decoration: underline;
}

.scroll {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 3vh;
}

.arrow {
    display: block;
    margin-top: 5px;
}

.arrow img {
    width: 25px;
}


/*-------------------------------------------*/


/*---------------------ABOUT-ME----------------------*/

.about-me {
    background-image: url('../img/1449.jpg');
    color: #483e3c;   
}

.about-me__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 50px 180px;
    text-align: left;
}

.about-me__photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: url('../img/WYDg1m5Li7k.jpg');
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me__info {
    width: 50%;
}

.about-me__title {
    font-size: 48px;
}

.about-me__position {
    font-size: 28px;
}

.about-me__paragraph {
    font-size: 18px;
    text-align: left;
}
/*----------PORTFOLIO------------------*/

.portfolio {
    background: url('../img/O9ZJHU0.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 50%;
}

.portfolio__heading {
    margin-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    color: #483e3c;
}

.portfolio__links {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 20px 150px;
    margin-top: 50px;
}

.portfolio__link {
    position: relative;
    width: 220px;
    height: 220px;
    border: 1px solid #483e3c;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px transparent;
    transition: .3s;
    transform: perspective(1px) translateZ(0);
}

.portfolio__link_ui-kit {
    background-image: url('../img/base.jpg');
}

.portfolio__link_j-wood {
    background-image: url('../img/Home-min.jpg');
}

.portfolio__link:hover {
    margin-top: -15px;
}

.portfolio__link:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.portfolio__link:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(35px);
}


/*-----------CONTACTS------------*/

.contacts {
    background: linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148));
}

.contacts__info {
    margin-top: 40px;
    text-transform: uppercase;
}

.contacts__info span {
    display: block;
    padding: 40px 0;
}

.contacts__info span a {
    text-decoration: none;
    color: #483e3c;
}

.contacts__info-link {
    font-size: 30px;
    text-decoration: none;
    color: #483e3c;
    letter-spacing: 5px;
}

.socials {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
}

.socials a {
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}

.socials__insta {
    background-image: url('../img/socials/instagram.svg');
}

.socials__insta:hover {
    background-image: url('../img/socials/instagram-hover.svg');
}

.socials__facebook {
    background-image: url('../img/socials/facebook.svg');
}

.socials__facebook:hover {
    background-image: url('../img/socials/facebook-hover.svg');
}

.socials__linked-in {
    background-image: url('../img/socials/linkedin.svg');
}

.socials__linked-in:hover {
    background-image: url('../img/socials/linkedin-hover.svg');
}

.socials__skype {
    background-image: url('../img/socials/skype.svg');
}

.socials__skype:hover {
    background-image: url('../img/socials/skype-hover.svg');
}
