@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Lato|Playfair+Display');

$lato-font: 'Lato', sans-serif;

$text-grey-color: #808080;
$text-black-color: #000000;

$dark-nav-color: #353f45;
$border-grey-color: #e7e4e4;
$border-nav-color: #596065;



