

.footer-fifth__logo {
    @include block-create(71px, 66px, url('../../../img/logo.svg'));
    margin-top: 10px;
    @media (max-width: $mobileL-size) {
        margin: 20px auto;
    }
}

.footer-fifth__container {
    max-width: 960px;
    margin: 0 auto;
}

.footer-fifth__head {
    padding: 36px 10px;
    background-color: $green-color;
    &-container {
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        @media (max-width: $mobile-size) {
            flex-direction: column;
        }
    }
    &-label {
        @include text-setting(16px,
        36px,
        #fff);
        @media (max-width: $mobileL-size) {
            display: none;
        }
    }
    &-input {
        position: relative;
        width: 34%;
        margin: 0 20px 0 15px;
        &>.icon--envelope {
            @include pos('topLeft',
            50%,
            16px);
            font-size: 20px;
            font-weight: 400;
            color: $orange-color;
            transform: translateY(-50%);
            pointer-events: none;
            @media (max-width: $mobileL-size) {
                left: 10px;
            }
        }
        @media (max-width: $mobileL-size) {
            width: 60%;
        }
        @media (max-width: $mobile-size) {
            width: 90%;
            margin-bottom: 10px;
        }
    }
    &-btn {
        width: 18%;
        @media (max-width: $mobileL-size) {
            width: 30%;
        }
        @media (max-width: $mobile-size) {
            width: 90%;
        }
    }
}

.footer-fifth__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @media (max-width: $mobileL-size) {
        display: block;
        overflow: hidden;
    }
}

.footer-fifth__body {
    padding: 48px 10px;
    background-color: $light-grey-color;
    &-part {
        padding: 5px;
        &_logo {
            width: 15%;
        }
        &_nav {
            width: 20%;
            @media (max-width: $mobileL-size) {
                margin-bottom: 30px;
                padding-left: 50px;
            }
        }
        &-title {
            font-size: 16px;
            line-height: 36px;
        }
        &_map {
            @extend %border-radius;
            @include block-create(35%,
            auto,
            $green-color url('../../../templates/footers/img/map.jpg') center);
            position: relative;
            cursor: pointer;
            @media (max-width: $mobileL-size) {
                height: 200px;
            }
            @media (max-width: $mobile-size) {
                margin-bottom: 20px;
            }
        }
        &_contacts {
            position: relative;
            width: 30%;
            padding-left: 50px;
            @media (max-width: $mobileL-size) {
                height: 200px;
            }
        }
        @media (max-width: $mobileL-size) {
            width: 50%;
            float: left;
        }
        @media (max-width: $mobile-size) {
            width: auto;
            padding: 0;
            float: none;
            text-align: center;
        }
    }
}

.icon--placeholder {
    @include pos('topLeft',
    40%,
    50%);
    font-size: 24px;
}

.footer-fifth__contact {
    &-info {
        @include text-setting(16px,
        22px,
        $grey-color);
        display: block;
        &_phone-num {
            @include text-setting(16px,
            22px,
            $grey-color);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-link {
        position: absolute;
        bottom: 0;
        left: 50px;
        min-width: 100px;
        @media (max-width: $mobile-size) {
            position: static;
            margin-top: 20px;
        }
    }
}

.footer-fifth__service-nav-link {
    @include text-setting(16px,
    32px,
    $grey-color);
    text-decoration: none;
    &:hover {
        color: $black-color;
    }
}
