@import "utils/normalize";
@import "utils/mixins";
@import "components/link-to-store";
@import "components/button";
@import "components/header";
@import "components/footer";
@import "slick-slider/slick";
@import "slick-slider/slick-theme";

@import "pages/home-page";
@import "pages/winners";
@import "pages/contact";
@import "pages/policy";

