.footer {
    background-color: $footer-background;
    display:flex;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    height: 66px;
    width: 71px;
    background-image: url('../img/Logo.png');
    margin-top: 56px;
    margin-left: 120px;
    margin-bottom: 46px;
}

.footer-first__navigation {
    display:inline-block;
    padding-top: 84px;
    margin-left: 50px;
    a {
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
        color: #383737;
        &:not(:first-child){
            margin-left: 36px;
        }
    }
}

.footer-first__contacts {
    display: inline-block;
    margin-left: 148px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    ul {
        list-style-type: none;
    }
    li:last-child {
        margin-top: 15px;
        color: #b4bbc2; 
    }
}

.About_Us {
  font-size: 16px;
  font-family: "Cabin";
  color: rgb(56, 55, 55);
  font-weight: bold;
  line-height: 2.25;
  text-align: left;
  position: absolute;
  left: 423.937px;
  top: 71.5px;
  z-index: 327;
}
