.about-us {
    padding: 94px 360px 110px 360px;
    @include media(lLaptop) {
        padding: 82px 280px 90px 280px;
    }
    @include media(mLaptop) {
        padding: 82px 140px 90px 180px;
    }
    @include media(sLaptop) {
        padding: 60px 100px;
    }
    @include media(lTablet) {
        padding: 40px 40px;
    }
    @include media(lMobile) {
        padding: 30px 10px;
    }
    
    &-pics {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 104px;
        @include media(lLaptop) {
            flex-wrap: wrap;
        }
        @include media(sTablet) {
            margin-top: 50px;
        }
        &__box {
            background-color: $fourth-color;
            width: 30%;
        }
        &__item {
            position: relative;
            width: 100%;
            height: 250px;
            transition: .4s;
            &>img {
                width: 100%;
                height: 100%;
            }
            @include media(lLaptop) {
                height: 100px;
            }
            &>.text {
                color: #fff;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-transform: uppercase;
                opacity: 0;
                transition: .3s;
            }
            & .icon {
                display: block;
                font-size: 20px;
            }
            &:hover {
                transform: translate(-10px, -10px);
                &>.text {
                    opacity: 1;
                }
            }
        }
    }
}
