.header {
    position: relative;
    padding: 28px 360px;
    @include bg-gradient;
    @include text-config($montserrat, 14px, 400);
    @include media(lLaptop) {
        padding: 28px 280px;
    }
    @include media(mLaptop) {
        padding: 20px 140px;
    }
    @include media(xsLaptop) {
        padding: 20px 100px;
    }
    @include media(lTablet) {
        padding: 10px 40px;
    }
    @include media(lMobile) {
        padding: 10px 10px;
    }
    &:after {
        display: block;
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: url(./../../../img/baner-1-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .1;
    }
    &-top {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        @include text-config($montserrat, 30px, bold);
    }
    &-nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        @include media(lTablet) {
            display: none;
        }
        &__item {
            padding: 12px 0;
            text-transform: uppercase;
            &:not(:first-child) {
                margin-left: 50px;
                @include media(xsLaptop) {
                    margin-left: 30px;
                }
                @include media(lTablet) {
                    margin-left: 20px;
                }
            }
        }
    }
    &-main {
        text-align: center;
        margin-top: 160px;
        @include media(mLaptop) {
            margin-top: 100px;
        }
    }
    &__heading-label {
        display: block;
        @include text-config($kaushan, 72px, 400);
        text-transform: capitalize;
        line-height: 62px;
        @include media(mLaptop) {
            font-size: 36px;
        }
    }
    &__heading {
        @include text-config($montserrat, 150px, bold);
        text-transform: uppercase;
        margin-top: 62px;
        @include media(mLaptop) {
            margin-top: 40px;
            font-size: 72px;
        }
        @include media(lTablet) {
            font-size: 48px;
        }
    }
    &__learn-more {
        display: inline-block;
        position: relative;
        padding: 12px 30px;
        border: 3px solid #fff;
        text-transform: uppercase;
        font-weight: bold;
        @include media(lTablet) {
            margin-top: 14px;
            padding: 8px 18px;
        }
        &:before {
            display: block;
            position: absolute;
            content: '';
            height: 3px;
            width: 60px;
            background-color: currentColor;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -50px;
            @include media(lTablet) {
                top: -30px;
            }
        }
    }
    &-links {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 158px;
        @include media(mLaptop) {
            margin-top: 100px;
        }
        &__item {
            @include text-config($roboto, 16px, 400);
            text-transform: uppercase;
            min-width: 22%;
            text-align: left;
            padding-top: 25px;
            border-top: 3px solid rgba(255, 255, 255, .5);
        }
    }
}
