.team {
    margin-top: 102px;
    padding: 0 360px;
    @include media(lLaptop) {
        padding: 0 280px;
    }
    @include media(mLaptop) {
        padding: 0 140px;
    }
    @include media(lTablet) {
        padding: 0 40px;
        margin-top: 60px;
    }
    @include media(lMobile) {
        padding: 0 10px;
    }
    &-members {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
    }
    &-member {
        max-width: 32%;
        text-align: center;
        &__photo {
            height: 470px;
            background-color: $fourth-color;
            &-gradient {
                @include bg-gradient;
                height: 100%;
                width: 100%;
                position: relative;
                transition: .4s;
                &:hover {
                    transform: translate(-10px, -10px);
                    &>img {
                        opacity: .1;
                    }
                    &>.socials {
                        opacity: 1;
                    }
                }
            }
            & img {
                height: 100%;
                width: 100%;
                transition: .4s;
            }
            &-socials {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $secondary-color;
                max-width: 52%;
                opacity: 0;
                transition: .3s;
                &>a {
                    padding: 10px;
                    display: inline-block;
                    font-size: 18px;
                    color: $main-color;
                    transition: .4s;
                    &:not(:first-child){
                       border-left: 1px solid $main-color; 
                    }
                    &:hover {
                        background-color: $main-color;
                        color: #fff;
                    }
                }
            }
        }
        &-text {
            margin-top: 30px;
        }
        &__name {
            display: block;
            @include text-config($montserrat, 14px, 400, $text-black-color);
            text-transform: uppercase;
        }
        &__position {
            display: block;
            margin-top: 16px;
            @include text-config($roboto, 15px, 300, $text-grey-color);
            text-transform: capitalize;
        }
    }
}
