.testimonial {
    padding: 100px 360px;
    @include media(lLaptop) {
        padding: 80px 280px;
    }
    @include media(mLaptop) {
        padding: 60px 140px;
    }
    @include media(sLaptop) {
        padding: 60px 100px;
    }
    @include media(lTablet) {
        padding: 60px 40px;
    }
    @include media(lMobile) {
        padding: 40px 10px;
    }
}

.avatar {
    @include media(sLaptop) {
        width: 160px;
    }
    @include media(lTablet) {
        width: 120px;
    }
    @include media(sMobile) {
        width: 60px;
    }
}
