.work {
    margin-top: 112px;
    @include media(lTablet) {
        margin-top: 60px;
    }
    &-container {
        margin-top: 106px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        &__item {
            width: 25%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            &>img {
                width: 100%;
            }
        }
    }
}