.footer-fourth {
    padding: 30px 0 50px;
    background-color: $light-grey-color;
    &__container {
        max-width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__part {
        padding: 10px;
        float: left;
        &--logo {
            width: 16%;
        }
        &--contacts {
            width: 26%;
        }
        &--info {
            width: 34%;
        }
        &--app {
            width: 24%;
        }
        &-title {
            font-size: 16px;
            line-height: 36px;
        }
        &-paragraph {
            @include text-setting(16px, 22px, $grey-color);
            display: block;
        }
        &-btn-link {
            display: block;
            width: 140px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        &-simple-link {
            @include text-setting(16px, 22px, $blue-color);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: $mobileL-size) {
            width: 50%;
        }
        @media (max-width: $mobile-size) {
            width: 100%;
            float: none;
        }
    }
    &__phone-link {
        margin: 25px 0;
    }
    &__phone-link,
    &__email-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
