.footer-fourth {
    img {
        max-height: 66px;
    }
    box-sizing: border-box;
    padding: 80px 120px;
    justify-content: space-around;
}

.footer-fourth__item {
    display: inline-block;
    span {
        font-size: 16px;
        font-weight: bold;
        color: rgb(56, 55, 55);
    }
    p {
        font-size: 16px;
        font-weight: bold;
        color: rgb(180, 187, 194);
        line-height: 1.375;
        ;
    }
    a {
        font-size: 16px;
        font-weight: bold;
        color: rgb(180, 187, 194);
        text-decoration: none;
    }
}

.footer-fourth__info {
    width: 300px;
}

.footer-fourth__our-app {
    .buy-button {
        display: block;
        padding: 18px 40px;
        border-radius: 5px;
        background-color: #24aa98;
        text-decoration: none;
        color: #fff;
        margin-top: 18px;
        margin-bottom: 17px;
    }
    .learn-more-button {
        text-decoration: none;
        color: #65abd0;
    }
}
