.header {
  background: url("./../assets/general/background.jpg") bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 360px;
    @include media(lLaptop) {
      padding: 18px 300px;
    }
    @include media(mLaptop) {
      padding: 18px 100px;
    }
    @include media(sLaptop) {
      padding: 18px 55px;
    }

    &__logo {
      max-width: 25%;
      &>img {
        width: 100%;
      }
    }
    &-menu {

      &__item {
        @include text-config(Arial, 14px, normal, #000, 1);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 48px;
        }
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding: 80px 360px 0;
    @include media(lLaptop) {
      padding: 60px 300px 0;
    }
    @include media(mLaptop) {
      padding: 60px 140px 0;
    }
    @include media(sLaptop) {
      padding: 40px 55px 0;
    }
    @include media(wTablet) {

    }

    &-left {
      display: flex;
      flex-direction: row;
      max-width: 45%;
      position: relative;
      &>img {
        width: 100%;

        &:first-child {
          height: 100%;
        }

        &:last-child {
          width: 70%;
          align-self: flex-end;
          transform: translateX(-25%);
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      max-width: 45%;

      &__logo {
        margin-top: 20px;

        &>img {
          max-width: 100%;
        }
      }
      &__links {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}


.money {
  display: flex;
  justify-content: space-between;
  padding: 80px 360px;
  @include media(lLaptop) {
    padding: 60px 300px;
  }
  @include media(mLaptop) {
    padding: 60px 140px;
  }
  @include media(sLaptop) {
    padding: 40px 55px;
  }
  @include media(wTablet) {

  }

  &-left {
    width: 45%;
  }

  &-slider {
    width: 100%;
    &__item {
      width: 100%;
      height: 100%;
      &>img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-right {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &-text {
    max-width: 80%;
    font-size: 18px;
    text-align: center;
    margin: auto;

    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
      &>strong {
        font-size: 40px;
      }
    }
    &>p {
      @include text-config(Arial, 14px, normal, #000, 1);
      &:first-of-type {
        margin-top: 40px;
      }
    }
  }
}

.winners {
  background: url("./../assets/general/background.jpg") bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 40px 360px;

  &-heading {
    text-transform: capitalize;
    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
    }
    &>h2{
      @include text-config(Arial, 40px, bold, #000, 1);
      margin: 10px 0;
    }
  }

  &-slider {
    width: 100%;
    margin: 22px 0;
    &__item {
      width: 40%;
      margin: 0 20px;
      &>img {
        width: 100%;
      }
    }
  }

  &-text {
    @include text-config(Arial, 14px, normal, #000, 19px);
    max-width: 300px;
    margin: 60px auto 20px;
  }


  @include media(lLaptop) {
    padding: 40px 300px;
  }
  @include media(mLaptop) {
    padding: 40px 224px;
  }
  @include media(wTablet) {

  }
}


.instant-reward {
  display: flex;
  justify-content: space-between;
  padding: 80px 360px;
  @include media(lLaptop) {
    padding: 60px 300px;
  }
  @include media(mLaptop) {
    padding: 60px 140px;
  }
  @include media(sLaptop) {
    padding: 40px 55px;
  }
  @include media(wTablet) {

  }

  &-left {
    display: flex;
    width: 50%;
    &>img {
      width: 80%;
      height: 100%;
      margin: 0 auto;
    }
  }

  &-right {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__text {
    max-width: 80%;
    font-size: 18px;
    text-align: center;
    margin: auto;

    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
    }

    &>h2 {
      @include text-config(Arial, 40px, bold, #000, 1);
      text-transform: capitalize;
    }

    &>p {
      @include text-config(Arial, 14px, normal, #000, 1);
    }
  }
}

.footer {
  background: url("./../assets/general/background.jpg") bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 10px;

  &-top {
    padding: 40px 360px;
    text-align: center;
    border-bottom: 1px solid #979797;
    @include media(lLaptop) {
      padding: 40px 300px;
    }
    @include media(mLaptop) {
      padding: 40px 140px;
    }
    @include media(sLaptop) {
      padding: 30px 80px;
    }
    @include media(wTablet) {

    }
    &__heading {
      @include text-config(Arial, 24px, normal, #000, 1);
    }

    &-logotypes {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      @include media(lLaptop) {
        height: 70px;
      }
      @include media(mLaptop) {
        height: 60px;
      }
      @include media(sLaptop) {
        height: 56px;
      }

      &__item {
        height: 50%;
        &>img {
          height: 100%;
        }
        &_big {
          height: 100%;
        }
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      &__left {
        width: 40%;
        display: flex;
        justify-content: space-between;
      }
      &__right {
        width: 50%;
      }

      &-form {
        display: flex;
        align-items: center;

        &>input {
          width: 70%;
          height: 32px;
          padding: 0 20px;
          border: 2px solid #979797;
          @include text-config(Arial, 14px, bold, #000, 1);
          @include input-placeholder {
            @include text-config(Arial, 14px, bold, #9B9B9B, 1);
            text-transform: uppercase;
          }
        }

        &>.btn {
          margin-left: 10px;
        }
      }
    }

  }

  &-bottom {
    padding: 40px 300px;
    text-align: center;
    @include media(mLaptop) {
      padding: 40px 140px;
    }
    @include media(sLaptop) {
      padding: 40px 80px;
    }
    @include media(wTablet) {

    }

    &-menu {
      &__item {
        @include text-config(Arial, 14px, normal, #000, 1);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 48px;
        }
      }
    }

    &-socials {
      display: flex;
      justify-content: space-between;
      max-width: 110px;
      margin: 20px auto 0;

      &__item {
        @include block-create(24px, 24px);
        &>img {
          width: 100%;
        }
      }
    }

    &-copyright {
      display: block;
      margin-top: 20px;
      @include text-config(Arial, 12px, normal, #4A90E2, 1);
      text-decoration: underline;
    }
  }
}

