
.money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 360px;
  @include media(lLaptop) {
    padding: 60px 300px;
  }
  @include media(mLaptop) {
    padding: 60px 140px;
  }
  @include media(sLaptop) {
    padding: 40px 55px;
  }
  @include media(Tablet) {
    padding: 40px 55px;
  }
  @include media(Mobile) {
    padding: 25px;
    flex-direction: column;
  }
  @include media(sMobile) {
    padding: 25px;
    flex-direction: column;
  }

  &-left {
    width: 45%;
    @include media(Mobile) {
      width: 100%;
    }
    @include media(sMobile) {
      width: 100%;
    }
  }

  &-slider {
    width: 100%;
    &__item {
      width: 100%;
      height: 100%;
      &>img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-right {

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 12%;
    @include media(sLaptop) {
      padding: 0 12%;
    }
    @include media(Mobile) {
      margin-top: 40px;
      padding: 0;
    }
    @include media(sMobile) {
      margin-top: 40px;
      padding: 0;
    }
  }

  &__heading {
    text-align: center;
    max-width: 90%;
    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
      &>strong {
        font-size: 40px;
      }
    }
  }

  &__text {
    @include text-config(Arial, 14px, normal, #000, 28px);
    text-align: center;
  }
}

.winners {
  background-image: url("./../assets/general/background.jpg");
  background-position: bottom;
  -webkit-background-size:cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 360px;


  &-heading {
    text-transform: capitalize;
    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
    }
    &>h2{
      @include text-config(Arial, 40px, bold, #000, 1);
      margin: 10px 0;
    }
  }

  &-slider {
    margin-top: 20px;
    &__item {
      transform: scale(.8);
      opacity: .5;
      transition: .3s ease-in-out all;
      &.slick-center {
        opacity: 1;
        transform: scale(.9);
      }
    }
    & .slick-dots {
      bottom: -10px;
    }
  }

  &-text {
    @include text-config(Arial, 14px, normal, #000, 19px);
    max-width: 300px;
    margin: 22px auto 20px;
  }


  @include media(lLaptop) {
    padding: 40px 300px;
  }
  @include media(mLaptop) {
    padding: 40px 224px;
  }
  @include media(sLaptop) {
    padding: 40px 180px;
  }
  @include media(Tablet) {
    padding: 40px 100px;
  }
  @include media(Mobile) {
    padding: 25px 60px;
    flex-direction: column;
    background-image: url("./../assets/general/cover.png") , url("./../assets/general/background.jpg");
    background-position: top, bottom;
    -webkit-background-size: 100% 75%, cover;
    background-size: 100% 75%, cover;
  }
  @include media(sMobile) {
    padding: 25px;
    flex-direction: column;
    background-image: url("./../assets/general/cover.png") , url("./../assets/general/background.jpg");
    background-position: top, bottom;
    -webkit-background-size: 100% 75%, cover;
    background-size: 100% 75%, cover;
  }
}


.instant-reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 360px;
  @include media(lLaptop) {
    padding: 60px 300px;
  }
  @include media(mLaptop) {
    padding: 60px 140px;
  }
  @include media(sLaptop) {
    padding: 40px 55px;
  }
  @include media(Tablet) {
    padding: 40px 55px;
  }
  @include media(Mobile) {
    display: none;
  }
  @include media(sMobile) {
    display: none;
  }


  &__img {
    display: flex;
    width: 50%;
    @include media(Mobile) {
      width: 100%;
    }
    @include media(sMobile) {
      width: 100%;
    }
    &>img {
      width: 80%;
      height: 100%;
      margin: 0 auto;
    }
  }

  &-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(Mobile) {
      width: 100%;
      margin-top: 28px;
    }
    @include media(sMobile) {
      margin-top: 28px;
      width: 100%;
    }
  }

  &__heading {
    text-align: center;

    &>span {
      @include text-config(Arial, 24px, normal, #000, 1);
    }

    &>h2 {
      margin: 10px 0;
      @include text-config(Arial, 40px, bold, #000, 1);
      text-transform: capitalize;
    }

  }

  &__text {
    max-width: 60%;
    text-align: center;
    @include text-config(Arial, 14px, normal, #000, 19px);

    @include media(Mobile) {
      max-width: 100%;
    }
    @include media(sMobile) {
      max-width: 100%;
    }
  }

  &_mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 25px;
    @include media(Mobile) {
      display: flex;
    }
    @include media(sMobile) {
      display: flex;
    }

    &__img {
      width: 80%;
      margin: 20px 0;
    }
  }
}
