
$icon-envelope: "\EA01" !default;

$icon-facebook: "\EA02" !default;

$icon-google: "\EA03" !default;

$icon-in: "\EA04" !default;

$icon-menu: "\EA05" !default;

$icon-phone: "\EA06" !default;

$icon-pinterest: "\EA07" !default;

$icon-placeholder: "\EA08" !default;

$icon-russia: "\EA09" !default;

$icon-time: "\EA0A" !default;

$icon-twitter: "\EA0B" !default;

$icon-uk: "\EA0C" !default;

$icon-ukraine: "\EA0D" !default;

$icon-user: "\EA0E" !default;

$icon-vimeo: "\EA0F" !default;