<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-1</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../../../css/templates/headers/header1/header-first.css">
</head>
<body>
   
    <div class="header">
        <div class="header__content">
            <div class="header__top-content">
                <div class="header__logo"></div>
                <nav class="header__navigation">
                    <a href="#" class="header__navigation-link">Products</a>
                    <a href="#" class="header__navigation-link">Prices</a>
                    <a href="#" class="header__navigation-link">About Us</a>
                    <a href="#" class="header__navigation-link">Contacts</a>
                    <a href="#" class="header__dropdown btn_hamburger"></a>
                </nav>
            </div>
            <div class="header__bottom-content">
                <h1 class="header__title">This soundted nonsense to Alice, so she said nothing, <br>but set off at once toward the red Queen</h1>
                <p class="header__paragraph">To her surprise, she lost sight of her in a moment,and found herself walking in at the front-door again.</p>
            </div>
        </div>
    </div>
    
</body>
</html>