.industries {
  padding: 52px 0 36px;

  &-container {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
  }

  &__heading {
    font-family: KlavikaMedCaps, "PT Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: $text-color;
    text-transform: capitalize;
  }

  &__paragraph {
    margin-top: 20px;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: $text-color;
  }

  &-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 250px;
    margin-top: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 15px 0;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: $text-color;
    text-align: left;

    .icon {
      font-size: 28px;
    }

    &__name {
      margin-left: 16px;
    }
  }

  &-link {
    padding: 15px 0;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: $blue-color;
    line-height: 20px;
    text-align: left;
    text-decoration: none;

    .text {
      text-decoration: underline;
      text-decoration-color: #c3dcee;
    }

    .icon {
      font-size: 14px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 767px) {

  .industries {

    &-container {
      padding: 0 10px;
    }

    &-box {
      padding: 0 10px;
    }

    &-item {
      width: 30%;
    }
  }
}

@media screen and (max-width: 600px) {

  .industries {
    padding-bottom: 20px;

    &-box {
      flex-direction: row;
      max-height: none;
    }

    &-item {
      width: 50%;
      flex-direction: column;

      &__name {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &-link {
      width: 100%;
      padding: 15px 0;
      justify-self: center;
      text-align: center;
    }
  }
}