.testimonials {
  padding: 32px 0 54px;

  &-container {
    max-width: 916px;
    margin: 0 auto;
  }

  &__heading {
    font-family: KlavikaMedCaps, "PT Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: $text-color;
    text-transform: capitalize;
    text-align: center;
  }

  &-carousel {
    position: relative;
    margin-top: 48px;
    overflow: hidden;

    &-arrow {
      position: absolute;
      top: 50%;
      height: 10px;
      width: 10px;
      transform: translateY(-50%) rotate(45deg);
      cursor: pointer;

      &_left {
        left: 4px;
        border-left: 6px solid #aeb7c3;
        border-bottom: 6px solid #aeb7c3;
      }

      &_right {
        right: 4px;
        border-right: 6px solid #aeb7c3;
        border-top: 6px solid #aeb7c3;
      }
    }

    .slider {
      width: 788px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      &-container {
        display: flex;
        width: 9999px;
      }
    }

    .slide {
      display: flex;
      width: 788px;
      min-width: 788px;
      padding: 0 10px;
      box-sizing: border-box;
      transition: .8s;

      &-author {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__photo {
          width: 114px;
          height: 114px;
          border: 1px solid #e3e6ea;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        &__name {
          margin-top: 14px;
          font-family: KlavikaMedCaps, "PT Sans", sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: $text-color;
          text-transform: capitalize;
        }

        &__position {
          margin-top: 6px;
          font-family: Klavika, "PT Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          color: $text-color;
          white-space: nowrap;
        }
      }

      &__text {
        margin-left: 30px;
        font-family: Klavika, "PT Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: $text-color;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 930px) {

  .testimonials {

    &-container {
      margin: 0 10px;

      .slider {
        width: 588px;
      }

      .slide {
        min-width: 588px;
        width: 588px;

        &__text {
          text-align: justify;
        }
      }
    }

    &-carousel {

      &-arrow {

        &_left {
          left: 10px;
        }

        &_right {
          right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {

  .testimonials {

    &-container {

      .slider {
        width: 450px;
      }

      .slide {
        flex-direction: column;
        width: 450px;
        min-width: 450px;

        &__text {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }

    &-carousel {

      &-arrow {
        top: 20%;

        &_left {
          left: 4px;
        }

        &_right {
          right: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {

  .testimonials {
    padding-bottom: 60px;

    &-container {

      .slider {
        width: 300px;
      }

      .slide {
        width: 300px;
        min-width: 300px;

        &__text {
          margin-top: 24px;
        }
      }
    }

    &-carousel {
      margin-top: 20px;

      &-arrow {
        top: 12%;
        width: 5px;
        height: 5px;

        &_left {
          border-left: 3px solid $text-color;
          border-bottom: 3px solid $text-color;
        }

        &_right {
          border-right: 3px solid $text-color;
          border-top: 3px solid $text-color;
        }
      }
    }
  }
}