.top-section {

  &-bg {
    position: relative;
    background:  url('./../images/banner-bg.png');
    background-size: cover;
    
    &__inner {
      position: relative;
      z-index: 1;
      background-repeat: no-repeat;
      height: calc(100% - 20px);
    }

    &:before, &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:before {
      background-image: url('./../images/triangles-for-top.png');
      background-size: 120% auto;
      background-position: 60% 5%;
      z-index: 1;
    }

    &:after {
      background: rgba(0, 139, 255, 0.53);
      background-size: cover;
      z-index: 0;
    }

    .arrow {

      &-part {
        position: absolute;
        width: calc(50% - 52px);
        bottom: 0;
        display: block;
        content: " ";
        height: 0;
        z-index: 2;

        &_left {
          right: 50%;
          border-bottom: 20px solid white;
          border-right: 52px solid transparent;
        }

        &_right {
          left: 50%;
          border-bottom: 20px solid white;
          border-left: 52px solid transparent;
        }
      }
    }
  }

  &-info {
    max-width: 630px;
    margin: 0 auto;
    padding: 12px 0 22px;
    text-align: center;
  }

  &__heading {
    padding: 181px 0 120px;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 52px;
    font-weight: 500;
    color: $white-color;
    text-transform: capitalize;
    text-align: center;

    .icon {
      font-size: 65px;
    }
  }

  &__subheading {
    margin-top: 30px;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: $text-color;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__paragraph {
    position: relative;
    padding-bottom: 32px;
    margin: 12px auto 0;
    max-width: 505px;
    font-family: Klavika, "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $text-color;
    line-height: 22px;

    &:first-letter {
      text-transform: uppercase;
    }

    &:first-of-type {

      &:after {
        position: absolute;
        content: '';
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 210px;
        height: 1px;
        background-color: $blue-color;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  
  .top-section {
    
    &-bg {
      background-position: 0 0;
    }

    &-info {
      padding: 28px 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .top-section {

    &-bg {

      &:before {
        background-size: auto;
        background-position: 65% 10%;
      }
    }

    &__heading {
      padding: 87px 30px 62px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 34px;
      font-weight: 300;


      .text {
        margin-top: 26px;
      }
    }

    &-info {
      padding: 0 18px 14px;
    }
  }
}
