.case-studies {
  text-align: center;
  background: url("./../images/triangle-bg.png");
  box-shadow: inset 0px -67px 69px -50px #fcfcfc;

  &-container {
    max-width: 840px;
    margin: 0 auto;
    padding: 40px 20px 26px;
  }

  &__heading {
    font-family: KlavikaMedCaps, "PT Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: $text-color;
    text-transform: capitalize;
  }

  .case {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &:first-of-type {
      margin-top: 50px;
    }

    &-image {
      width: 100%;
      height: 100%;

      &-box {
        min-width: 240px;
        width: 240px;
        height: 170px;
        padding: 12px;
        border: 1px solid #e4e9ef;
        box-sizing: border-box;
      }
    }

    &-text-box {
      display: flex;
      flex-direction: column;
      margin-left: 28px;
      text-align: left;

      &__bottom {
        display: flex;
        justify-content: space-between;
      }
    }

    &__name {
      font-family: KlavikaMedCaps, "PT Sans", sans-serif;
      font-size: 22px;
      font-weight: 500;
      color: $text-color;
    }

    &__description {
      margin-top: 10px;
      font-family: Klavika, "PT Sans", sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: $text-color;
      line-height: 22px;
    }

    &-keywords {
      display: flex;
      margin: 14px 0;

      &__item {
        font-family: Klavika, "PT Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: $text-color;

        &:not(:last-child) {
          position: relative;
          padding-right: 16px;
          margin-right: 8px;

          &:after {
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            right: 0;
            top: 50%;
            border: 2px solid #c6c6c6;
            box-sizing: border-box;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      font-family: KlavikaMedCaps, "PT Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: $blue-color;
      text-transform: capitalize;
      text-decoration: none;
      transition: .3s;

      &__text {
        margin-left: 6px;
        color: $blue-color;
        text-decoration: underline;
        transition: .3s;
      }

      &:hover {
        color: $text-color;

        .case-link__text {
          color: $text-color;
          text-decoration-color: transparent;
        }
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .case-studies {

    .case {

      &:nth-child(odd) {
        flex-direction: row-reverse;

        .case-text-box {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .case-studies {

    &-container {
      padding: 36px 20px;
    }

    .case {

      &-keywords {

        &__item {
          margin: 4px 0;
        }
      }

      &-text-box__bottom {
        flex-wrap: wrap;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 661px) {
  .case-studies {

    .case {
      flex-direction: column;
      align-items: center;

      &-text-box {
        margin-left: 0;
        margin-top: 16px;
      }

      &__name {
        text-align: center;
      }

      &-keywords {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .case-studies {

    &-container {
      padding: 18px 0;
    }

    .case {

      &:first-of-type {
        margin-top: 30px;
      }

      &-image-box {
        height: auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }

      &-text-box {
        padding: 0 20px;

        &__bottom {
          flex-direction: column;
        }
      }
      
      &__name {
        text-align: left;
      }

      &-link {
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 360px) {

  .case-studies {

    .case {
      &-image-box {
        width: 100%;
        border: none;
        padding: 0;
      }
    }
  }
}