@font-face {
  font-family: 'Klavika';
  src: url("./../fonts/Klavika/klavikalight-osf-webfont.woff2") format("woff2"),
  url("./../fonts/Klavika/klavikalight-osf-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url("./../fonts/Klavika/klavikaregular-osf-webfont.woff2") format("woff2"),
  url("./../fonts/Klavika/klavikaregular-osf-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url("./../fonts/Klavika/klavikabold-bold-webfont.woff2") format("woff2"),
  url("./../fonts/Klavika/klavikabold-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaRegCaps';
  src: url("./../fonts/Klavika/klavikaregcaps-sc-webfont.woff2") format("woff2"),
  url("./../fonts/Klavika/klavikaregcaps-sc-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaMedCaps';
  src: url("./../fonts/Klavika/klavikamedcaps-sc-webfont.woff2") format("woff2"),
  url("./../fonts/Klavika/klavikamedcaps-sc-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/IconFont/icomoon.eot?8l9lk7');
  src:  url('./../fonts/IconFont/icomoon.eot?8l9lk7#iefix') format('embedded-opentype'),
  url('./../fonts/IconFont/icomoon.ttf?8l9lk7') format('truetype'),
  url('./../fonts/IconFont/icomoon.woff?8l9lk7') format('woff'),
  url('./../fonts/IconFont/icomoon.svg?8l9lk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e910";
}
.icon-arrow-r:before {
  content: "\e90f";
}
.icon-b2b:before {
  content: "\e900";
  color: #0e75bb;
}
.icon-cell-phone:before {
  content: "\e901";
}
.icon-customer:before {
  content: "\e902";
  color: #0e75bb;
}
.icon-e-commerce:before {
  content: "\e903";
  color: #0e75bb;
}
.icon-entertainment:before {
  content: "\e904";
  color: #0e75bb;
}
.icon-envelope:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e906";
}
.icon-finance:before {
  content: "\e907";
  color: #0e75bb;
}
.icon-gaming:before {
  content: "\e908";
  color: #0e75bb;
}
.icon-media:before {
  content: "\e909";
  color: #0e75bb;
}
.icon-navigation:before {
  content: "\e90a";
  color: #0e75bb;
}
.icon-phone:before {
  content: "\e90b";
}
.icon-real-estate:before {
  content: "\e90c";
  color: #0e75bb;
}
.icon-social-network:before {
  content: "\e90d";
  color: #0e75bb;
}
.icon-travel:before {
  content: "\e90e";
  color: #0e75bb;
}