<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-8</title>
    <link rel="stylesheet" href="../../../../css/templates/headers/header8/header-eighth.css">
</head>

<body>
    <header class="header">
        <div class="header__menu">
            <div class="header__menu_nav-wrap">
				<div class="header__logo"></div>
				<!--<div class="btn_hamburger header__dropdown"></div>-->
				<nav class="header__navigation">
					<a href="#" class="header__navigation-link">Home</a>
					<a href="#" class="header__navigation-link">Portfolio</a>
					<a href="#" class="header__navigation-link">Products</a>
					<a href="#" class="header__navigation-link">Services</a>
					<a href="#" class="header__navigation-link">About Us</a>
					<a href="#" class="header__navigation-link">Contact</a>
				</nav>
			</div>
			<div class="header__search">
				<form action="#">
					<input type="text" class="input-field input-field--sm input-field--round header__search-input" placeholder="Search" required>
					<span class="icon_search ic--search--sm ic--vertical-align ic--grey header__search-icon"></span>
				</form>
			</div>

        </div>
        <h1>we make products</h1>
        <button class="order-button">Order</button>
        <div class="header__info">
            <div class="header__info__item">
                <span class="header__info__icon header__info__icon--pencil"></span>
                <h3 class="header__info__title">Prototype</h3>
                <p class="header__info__text">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
            </div>
            <div class="header__info__item">
                <span class="header__info__icon header__info__icon--brush"></span>
                <h3 class="header__info__title">Design</h3>
                <p class="header__info__text">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
            </div>
            <div class="header__info__item">
                <span class="header__info__icon header__info__icon--keyboard"></span>
                <h3 class="header__info__title">Coding</h3>
                <p class="header__info__text">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
            </div>
        </div>
    </header>

</body>

</html>
