<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-8</title>
    <link rel="stylesheet" href="../../../../css/templates/headers/header8/header-eighth.css">
</head>

<body>
    <header class="header">
        <div class="header__menu">
            <div class="header__menu_nav-wrap">
				<div class="header__logo"></div>
				<div class="btn_hamburger header__dropdown"></div>
				<nav class="header__navigation">
					<a href="#" class="header__navigation-link">Home</a>
					<a href="#" class="header__navigation-link">Portfolio</a>
					<a href="#" class="header__navigation-link">Products</a>
					<a href="#" class="header__navigation-link">Services</a>
					<a href="#" class="header__navigation-link">About Us</a>
					<a href="#" class="header__navigation-link">Contact</a>
				</nav>
			</div>
			<div class="header__search">
				<form action="#">
					<input type="text" class="input-field input-field_round header__search-input" placeholder="Search" required>
					<span class="icon_search header__search-icon"></span>
				</form>
			</div>

        </div>
        <h1 class="header__title">we make products</h1>
        <a href="#" class="btn btn_lg btn_round btn_danger header__order-btn">Order</a>
        <div class="header__info">
            <div class="header__info-item">
                <span class="header__info-icon header__info-icon_pencil"></span>
                <h3 class="header__info-title">Prototype</h3>
                <p class="header__info-text">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
            </div>
            <div class="header__info-item">
                <span class="header__info-icon header__info-icon_brush"></span>
                <h3 class="header__info-title">Design</h3>
                <p class="header__info-text">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
            </div>
            <div class="header__info-item">
                <span class="header__info-icon header__info-icon_keyboard"></span>
                <h3 class="header__info-title">Coding</h3>
                <p class="header__info-text">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
            </div>
        </div>
    </header>

</body>

</html>
