<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="wrapper wrapper_lg-forms">
            <div class="form-lg form-lg_sign-up">
                <div class="form-lg__header form-lg__header_sign-up">
                    <h1>Sign up</h1>
                    <a href="#">Already registered?</a>
                </div>
                <div class="form-lg__content form-lg__content_sign-up">
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <div class="form__input">
                            <input type="password" class="form__input-field form__input-field_password" placeholder="Password">
                        </div>
                        <span>Forgot password?</span>
                        <input type="submit" value="Sign up">
                    </form>
                    <div class="form-lg__socials">
                        <span class="social-choice">Or</span>
                        <a href="" class="btn btn_facebook">Login via Facebook</a>
                        <a href="" class="btn btn_twitter">Login via Twitter</a>
                    </div>
                </div>
            </div>

            <div class="form-lg form-lg_sign-in">
                <div class="form-lg__header form-lg__header_sign-in">
                    <h1>Sign in</h1>
                    <a href="#">Create an Account</a>
                </div>
                <div class="form-lg__content form-lg__content_sign-in">
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <div class="form__input">
                            <input type="password" class="form__input-field form__input-field_password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <input name="checkbox1" class="checkbox" id="checkbox1" type="checkbox">
                            <label for="checkbox1" class="checkbox__label">
                                    <span class="checkbox-changer"></span>
                                    Remember password?
                            </label>
                        </div>
                        <input type="submit" value="Sign in">
                    </form>
                    <div class="form-lg__socials">
                        <span>Or</span>
                        <a href="" class="btn btn_facebook">Login via Facebook</a>
                        <a href="" class="btn btn_twitter">Login via Twitter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper_sm-forms">
            <div class="form-wrapper">
                <div class="form-sm form-sm_sign-up">
                    <span class="form-sm__title">Sign up</span>
                    <a class="form-sm__link" href="#">Already registered?</a>
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <div class="form__input">
                            <input type="password" class="form__input-field form__input-field_password" placeholder="Password">
                        </div>
                        <span class="form-sm__question">Forgot password?</span>
                        <input type="submit" value="Sign up">
                    </form>
                    <div class="form-sm__socials">
                        <span class="social-choice">Or</span>
                        <a href="" class="btn btn_facebook">Facebook</a>
                        <a href="" class="btn btn_twitter">Twitter</a>
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form-sm form-sm_sign-in">
                    <span class="form-sm__title">Sign up</span>
                    <a class="form-sm__link" href="#">Already registered?</a>
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <div class="form__input">
                            <input type="password" class="form__input-field form__input-field_password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <input name="checkbox2" class="checkbox" id="checkbox2" type="checkbox">
                            <label for="checkbox2" class="checkbox__label">
                                    <span class="checkbox-changer"></span>
                                    Remember password?
                            </label>
                        </div>
                        <input type="submit" value="Sign in">
                    </form>
                    <div class="form-sm__socials">
                        <span>Or</span>
                        <a href="" class="btn btn_facebook">Facebook</a>
                        <a href="" class="btn btn_twitter">Twitter</a>
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form-sm form-sm_reset-pass">
                    <span class="form-sm__title">Reset password</span>
                    <a class="form-sm__link" href="#">Sign in</a>
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <input type="submit" value="Reset">
                    </form>
                </div>
                <div class="form-sm form-sm_subscribe">
                    <span class="form-sm__title">Subscribing</span>
                    <p>We will never send you spam or some othe trash</p>
                    <form action="#">
                        <div class="form__input">
                            <input type="text" class="form__input-field form__input-field_email" placeholder="E-mail or login">
                        </div>
                        <input type="submit" value=">">
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper_contact-form">
            <div class="contact-form contact-form_lg">
                <span class="contact-form__title">Contact</span>
                <form action="#">
                    <div class="form-line">
                        <div class="form-line__item">
                            <label for="name-input">Name</label>
                            <div class="form__input">
                                <input type="text" id="name-input" class="form__input-field" placeholder="Carlos Shorter">
                            </div>
                        </div>
                        <div class="form-line__item">
                            <label for="email-input">Email</label>
                            <div class="form__input">
                                <input type="email" id="email-input" class="form__input-field" placeholder="shotercarlos@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-line__item">
                            <label for="subject-input">Subject</label>
                            <div class="form__input">
                                <input type="text" id="subject-input" class="form__input-field" placeholder="Partnership">
                            </div>
                        </div>
                        <div class="form-line__item">
                            <div class="form-contact__select-wrapper">
                                <select name="select-budget" id="budget" class="form__select-menu form__select-budget">
                                <option value="1">$5.000 – $10.000</option>
                                <option value="2">$15.000 – $20.000</option>
                                <option value="3">$25.000 – $30.000</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-line__textarea">
                            <label for="form-textarea">Message</label>
                            <textarea name="form-contact__textarea" id="form-textarea">Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
                            </textarea>
                        </div>
                    </div>
                    <div class="form-line form-line_bottom">
                        <div class="checkbox">
                            <input name="checkbox3" class="checkbox" id="checkbox3" type="checkbox">
                            <label for="checkbox3" class="checkbox__label">
                                    <span class="checkbox-changer"></span>
                                    Send me a copy
                            </label>
                        </div>
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
            <div class="contact-form contact-form_sm">
                <span class="contact-form__title">Contact</span>
                <form action="#">
                    <div class="contact-form_sm__item">
                        <label for="name-input">Name</label>
                        <div class="form__input">
                            <input type="text" id="name-input" class="form__input-field" placeholder="Carlos Shorter">
                        </div>
                    </div>
                    <div class="contact-form_sm__item">
                        <label for="email-input">Email</label>
                        <div class="form__input">
                            <input type="email" id="email-input" class="form__input-field" placeholder="shotercarlos@gmail.com">
                        </div>
                    </div>
                    <div class="contact-form_sm__item">
                        <label for="form-textarea">Message</label>
                        <textarea name="form-contact__textarea" id="form-textarea">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you..
                        </textarea>
                    </div>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
        <div class="wrapper wrapper_shipping-form">
            <div class="shipping-form">
                <form action="#">
                    <h3 class="shipping-form__title"></h3>
                    <div class="shipping-form__content">
                        <div class="shipping-form__content-item">
                            <label class="form-label">Select country</label>
                            <div class="select-wrapper">
                                <select name="country" class="select-menu select-menu_warning form__select">
								    <option value="1" selected="">USA</option>
								    <option value="2">Canada</option>
								    <option value="3">Great Britain</option>
								</select>
                            </div>
                        </div>
                        <div class="shipping-form__content-item">
                            <label for=""></label>
                            <div class="form__input">
                                <input type="text" class="form__input-field">
                            </div>
                        </div>
                        <div class="shipping-form__content-item"></div>
                        <div class="shipping-form__content-item">
                            <label class="form-label">Select country</label>
                            <div class="select-wrapper">
                                <select name="country" class="select-menu select-menu_warning form__select">
								    <option value="1" selected="">USA</option>
								    <option value="2">Canada</option>
								    <option value="3">Great Britain</option>
								</select>
                            </div>
                        </div>
                        <div class="shipping-form__content-item"></div>
                        <div class="shipping-form__content-item"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
