.footer-sixth {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: $black-color;
    text-align: center;
    &__nav-link {
        @include text-setting(16px, 36px, #fff);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:not(:first-child) {
            margin-left: 30px;
            @media (max-width: $mobileL-size) {
                margin-left: 0;
            }
        }
        @media (max-width: $mobileL-size) {
            display: block;
        }
    }
    &__social-nav {
        margin: 25px 0;
        &>.icon {
            display: inline-block;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            margin-right: 16px;
            border-radius: 50%;
            text-align: center;
            font-size: 14px;
            font-weight: 200;
            line-height: 36px;
            color: #FFF;
            text-decoration: none;
            transition: 0.3s;
            &:last-child {
                margin-right: 0;
            }
            &--fb {
                background: $dark-blue-color;
                &:hover {
                    background-color: #295185;
                }
            }
            &--twitter {
                background: $twitter-color;
                &:hover {
                    background-color: #1D86B4;
                }
            }
            &--dribbble {
                background: $dribbble-color;
                &:hover {
                    background-color: #BE428E;
                }
            }
            &--vimeo {
                background: $vimeo-color;
                &:hover {
                    background-color: #2C7A93;
                }
            }
            &--google-plus {
                background: $google-plus-color;
                &:hover {
                    background-color: #C3504D;
                }
            }
        }
    }
    &__copyright {
        @include text-setting(14px, 36px, rgba(255, 255, 255, .5));
    }
}
