
$icon-chat: "\EA01" !default;

$icon-chats: "\EA02" !default;

$icon-clock: "\EA03" !default;

$icon-dribble: "\EA04" !default;

$icon-eye: "\EA05" !default;

$icon-facebook: "\EA06" !default;

$icon-focus: "\EA07" !default;

$icon-google: "\EA08" !default;

$icon-group: "\EA09" !default;

$icon-house: "\EA0A" !default;

$icon-instagram: "\EA0B" !default;

$icon-monitor: "\EA0C" !default;

$icon-opened-book: "\EA0D" !default;

$icon-picture: "\EA0E" !default;

$icon-pinterest: "\EA0F" !default;

$icon-placeholder: "\EA10" !default;

$icon-search: "\EA11" !default;

$icon-shopping-cart: "\EA12" !default;

$icon-tumblr: "\EA13" !default;

$icon-twitter: "\EA14" !default;

$icon-youtube: "\EA15" !default;