@mixin block-create($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}

@mixin text-config($size, $l-height, $color: $text-color) {
	font-size: $size;
	line-height: $l-height;
	color: $color;
}

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

@mixin vertical-centered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin media($type) {
	@if $type == 'wLaptop' {
		@media (max-width: 1023px) {
			@content;
		}
	} @elseif $type == 'wTablet' {
		@media (max-width: 767px) {
			@content;
		}
	} @elseif $type == 'wMobile' {
		@media (max-width: 449px) {
			@content;
		}
	} @elseif $type == 'wMobileS' {
		@media (max-width: 320px) {
			@content;
		}
	} @elseif $type == 'hMobile' {
		@media (max-height: 449px) {
			@content;
		}
	}
}