@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-family: 'Roboto', sans-serif;

$text-color: #06102F;
$tab-text-color: #869099;
$tab-active-bg: rgba(6,16,47,0.05);
$link-color: #48474E;
$arrow-color: #292B2C;
$slider-item-title-color: #2B2A36;
$bg-color: #F8F9FA;
$light-color: #fff;
$slider-border-color: #E4E6E8;