@mixin text-config($family, $size, $weight, $color: #fff) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin bg-gradient {
    background: linear-gradient(to bottom, $main-color, $secondary-color);
}

@mixin media($type) {
    @if $type=='lLaptop' {
        @media (max-width: 1680px) {
            @content;
        }
    }
    @elseif $type=='mLaptop' {
        @media (max-width: 1440px) {
            @content;
        }
    }
    @elseif $type=='sLaptop' {
        @media (max-width: 1280px) {
            @content;
        }
    }
    @elseif $type=='xsLaptop' {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @elseif $type=='lTablet' {
        @media (max-width: 800px) {
            @content;
        }
    }
    @elseif $type=='sTablet' {
        @media (max-width: 600px) {
            @content;
        }
    }
    @elseif $type=='lMobile' {
        @media (max-width: 540px) {
            @content;
        }
    }@elseif $type=='mMobile' {
        @media (max-width: 480px) {
            @content;
        }
    }@elseif $type=='sMobile' {
        @media (max-width: 320px) {
            @content;
        }
    }
}