.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 20px 0 50px;
  overflow: hidden; }

.btn:focus {
  outline: none; }

.btn {
  display: inline-block;
  background-color: #65abd0;
  padding: 18px 30px;
  margin: 10px;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  border: none;
  cursor: pointer; }

.btn_lg {
  padding: 24px 52px;
  font-size: 16px; }

.btn_sm {
  padding: 13px 45px;
  font-size: 12px; }

.btn_rounded {
  border-radius: 5px;
  padding: 18px 40px; }

.btn_round {
  padding: 18px 32px;
  border-radius: 999rem; }

.btn_secondary {
  padding: 16px 40px;
  background-color: #fff;
  border: 2px solid #65abd0;
  color: #65abd0; }

.btn_hamburger {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 5px; }
  .btn_hamburger:after {
    content: "\2261";
    font-size: 1.5em; }

.btn_circle {
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%; }
  .btn_circle:after {
    content: ">"; }

.btn_arrow {
  padding: 18px 27px;
  border-radius: 5px;
  position: relative; }
  .btn_arrow:after {
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: inherit;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(42%, -50%) rotate(45deg); }

.btn_lg.btn_rounded {
  border-radius: 5px;
  padding: 24px 64px; }

.btn_lg.btn_round {
  padding: 24px 68px;
  border-radius: 999rem; }

.btn_lg.btn_secondary {
  padding: 22px 68px;
  background-color: #fff;
  border: 2px solid #65abd0;
  color: #65abd0; }

.btn_lg.btn_circle {
  width: 60px;
  height: 60px; }

.btn_sm.btn_rounded {
  border-radius: 5px;
  padding: 13px 29px; }

.btn_sm.btn_round {
  padding: 13px 43px;
  border-radius: 999rem; }

.btn_sm.btn_secondary {
  padding: 11px 31px;
  background-color: #fff;
  border: 2px solid #65abd0;
  color: #65abd0; }

.btn_sm.btn_hamburger {
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 5px; }
  .btn_sm.btn_hamburger:after {
    content: "\2261";
    font-size: 1.5em; }

.btn_sm.btn_circle {
  width: 36px;
  height: 36px; }

.btn_group {
  padding: 0;
  border-radius: 5px; }

.btn_group__elem {
  float: left;
  background-color: inherit;
  color: #fff;
  width: 36px;
  height: 36px;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 0 1px;
  background-clip: border-box; }
  .btn_group__elem:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .btn_group__elem:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none; }

.btn_sm.btn_arrow {
  padding: 12px 25px;
  border-radius: 5px;
  position: relative; }
  .btn_sm.btn_arrow:after {
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-color: inherit;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(42%, -50%) rotate(45deg); }

.split-buttons {
  margin: 40px 10px; }

.split-btn {
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 16px 20px 0; }

.split-btn-group {
  display: inline-block;
  background-color: #24aa98;
  border-radius: 5px; }

.split-btn__item {
  float: left;
  width: 48px;
  height: 48px;
  color: #fff;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 0 1px;
  background-clip: border-box; }
  .split-btn__item:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .split-btn__item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none; }

.line {
  display: block;
  margin: 50% auto;
  content: ' ';
  background-color: #fff;
  width: 18px;
  height: 2px;
  box-shadow: 48px 0 0 0 #fff, 96px 0 0 0 #fff;
  position: relative; }
  .line:before {
    bottom: 6px;
    left: 0;
    position: absolute;
    content: ' ';
    background-color: #fff;
    width: 14px;
    height: 2px;
    box-shadow: 50px 0 0 0 #fff, 100px 0 0 0 #fff; }
  .line:after {
    top: 6px;
    position: absolute;
    content: ' ';
    background-color: #fff;
    width: 12px;
    height: 2px;
    box-shadow: 51px 0 0 0 #fff, 102px 0 0 0 #fff; }

.split-btn-input {
  position: relative;
  width: 296px; }

.split-btn-input__field {
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 18px;
  padding-right: 80px;
  border: 2px solid #c6ccd2;
  box-sizing: border-box; }

.split-btn-input__send {
  width: 76px;
  height: 100%;
  background-color: #24aa98;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px 6px 0;
  border: none;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }

.split-btn-input_dropdown {
  position: relative;
  width: 380px; }

.split-btn-input_dropdown__field {
  height: 100%;
  width: 100%;
  padding-left: 125px;
  padding-right: 80px;
  border: 2px solid #c6ccd2;
  border-radius: 5px;
  box-sizing: border-box; }

.split-btn-input_dropdown__select {
  width: 112px;
  height: 100%;
  background-color: #24aa98;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  border: none;
  border-radius: 6px 0 0 6px;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }
  .split-btn-input_dropdown__select:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 55%;
    right: 20px;
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor; }

.split-btn-input_dropdown__send {
  width: 76px;
  height: 100%;
  background-color: #24aa98;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }

.split-btn_dropdown {
  width: 59px;
  border-radius: 5px; }

.split-btn_dropdown-btn {
  width: 100%;
  height: 100%;
  background-color: #24aa98;
  position: relative;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }
  .split-btn_dropdown-btn:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 55%;
    right: 15px;
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor; }

input:focus {
  outline: none; }

.inputs-normal {
  margin: 10px; }

.field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin: 0 16px 20px 0;
  height: 48px; }

.field__input {
  width: 100%;
  height: 100%;
  padding: 0 18px;
  border: 2px solid #c6ccd2;
  border-radius: 5px;
  font-weight: bold;
  color: #c6ccd2;
  box-sizing: border-box; }

.is-active {
  border-color: #65abd0;
  color: black; }

.field .search-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #c6ccd2;
  transform: translateY(-60%); }
  .field .search-icon:after {
    width: 3px;
    height: 8px;
    background-color: #c6ccd2;
    content: '';
    position: absolute;
    top: 75%;
    right: -40%;
    transform: rotate(-45deg); }

.field__input_round {
  padding: 0 45px;
  border-radius: 24px; }

.field__succeed-icon {
  position: absolute;
  top: 50%;
  right: 11px;
  width: 14px;
  height: 10px;
  color: #24aa98;
  transform: translateY(-50%);
  cursor: pointer; }
  .field__succeed-icon:after {
    width: 2px;
    height: 3px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor, -7px 7px 0 0 currentColor, -8px 6px 0 0 currentColor, -9px 5px 0 0 currentColor, -10px 4px 0 0 currentColor, -11px 3px 0 0 currentColor; }

.is-succeed {
  border-color: #24aa98;
  color: black; }

.field__close-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 10px;
  color: #db7560;
  transform: translateY(-50%);
  cursor: pointer; }
  .field__close-icon:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor; }

.is-error {
  border-color: #db7560;
  color: black; }

.field__input_search {
  padding-right: 50px; }

.field__input_search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #c6ccd2;
  color: #FFF;
  cursor: pointer; }
  .field__input_search-btn:before {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 57%;
    left: 57%;
    box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor; }
  .field__input_search-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: translate(-60%, -60%); }

.is-devided {
  width: 75%;
  color: black; }

.is-devided + .field__input_search-btn {
  border-radius: 5px;
  background-color: #24aa98; }

.text-areas {
  width: 100%;
  padding: 10px; }

.text-area {
  display: inline-block;
  padding: 10px;
  width: 45%;
  height: 140px;
  font-size: 16px;
  border: 2px solid #c6ccd2;
  border-radius: 5px; }

.text-area:first-child {
  margin-right: 5px; }

.text-area__active {
  border-color: #65abd0;
  color: black; }

.dropdown {
  width: 220px;
  margin-right: 50px;
  margin-bottom: 200px;
  float: left; }

.dropdown__btn {
  position: relative;
  color: #FFF;
  transition: 0.3s; }
  .dropdown__btn:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: translateY(-50%) rotate(45deg); }

.dropdown__btn:first-child {
  margin-bottom: 20px; }

.dropdown__link {
  display: block;
  background-color: #24aa98;
  padding-left: 18px;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 6px; }

.dropdown__link_open {
  border-radius: 6px 6px 0 0; }

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 6px 6px;
  overflow: hidden; }

.dropdown__link_menu {
  background-color: #1a9385;
  border-radius: 0;
  border-bottom: 1px solid #1a877b;
  border-top: 1px solid #1a877b; }

.dropdown__open:after {
  transform: rotate(225deg); }

.radiobuttons {
  margin-right: 50px;
  float: left; }

.r-btn {
  position: relative;
  margin-bottom: 20px;
  visibility: hidden;
  cursor: pointer; }
  .r-btn:before {
    width: 10px;
    height: 10px;
    background-color: #65abd0;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    display: none;
    border-radius: 50%;
    visibility: visible; }
  .r-btn:after {
    width: 14px;
    height: 14px;
    background-color: #dee2e7;
    content: '';
    position: absolute;
    border-radius: 50%;
    visibility: visible; }

.r-btn:checked:before {
  display: block; }

.r-btn ~ label {
  margin-left: 15px;
  cursor: pointer;
  font-weight: bold; }

.r-btn:disabled ~ label {
  color: #dee2e7; }

.checkboxes {
  margin-right: 50px;
  float: left; }

.c-box {
  position: relative;
  margin-bottom: 20px;
  color: #FFF;
  visibility: hidden;
  cursor: pointer; }

.c-box:after {
  width: 14px;
  height: 14px;
  background-color: #dee2e7;
  content: '';
  position: absolute;
  border-radius: 5px;
  visibility: visible; }

.c-box ~ label {
  margin-left: 15px;
  cursor: pointer; }

.c-box:disabled ~ label {
  color: #dee2e7; }

.c-box:checked:before {
  display: block; }

.c-box:checked:after {
  background-color: #24aa98; }

.c-box:before {
  width: 2px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 60%;
  left: 35%;
  z-index: 1;
  display: none;
  visibility: visible;
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor; }

.switchers__part:first-child {
  margin-right: 30px; }

.switchers__part {
  display: inline-block;
  vertical-align: middle; }

.switcher-outline {
  display: none; }

.switcher-outline ~ label {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 18px;
  border: 2px solid #c6ccd2;
  color: #c6ccd2;
  cursor: pointer; }
  .switcher-outline ~ label:before {
    width: 28px;
    height: 28px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.2s; }
  .switcher-outline ~ label:after {
    content: 'Off';
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: sans-serif;
    font-size: 14px;
    transform: translateY(-50%);
    transition: 0.2s; }

.switcher-outline:checked + label {
  border-color: #24aa98;
  color: #24aa98; }
  .switcher-outline:checked + label:before {
    left: 38px; }
  .switcher-outline:checked + label:after {
    content: 'On';
    right: 38px; }

.switcher-filled {
  display: none; }

.switcher-filled:checked + label {
  background-color: #24aa98; }
  .switcher-filled:checked + label:before {
    left: 40px; }
  .switcher-filled:checked + label:after {
    content: 'On';
    right: 40px; }

.switcher-filled ~ label {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
  margin-bottom: 20px;
  border-radius: 18px;
  background-color: #c6ccd2;
  color: #fff;
  cursor: pointer; }
  .switcher-filled ~ label:before {
    width: 28px;
    height: 28px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.2s; }
  .switcher-filled ~ label:after {
    content: 'Off';
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: 'cabinsemibold', sans-serif;
    font-size: 14px;
    transform: translateY(-50%);
    transition: 0.2s; }

.sliders {
  width: 45%;
  margin-bottom: 30px;
  margin-right: 30px;
  float: left; }

.slider-double {
  margin-bottom: 30px; }

.sliders__line {
  height: 4px;
  border-radius: 2px;
  background-color: #c6ccd2; }

.slider-double__fragment {
  width: 60%;
  height: 100%;
  background-color: #d9c26c;
  position: relative;
  left: 15%;
  display: block;
  color: #d9c26c; }
  .slider-double__fragment:before {
    left: 0;
    transform: translate(-50%, -50%); }
  .slider-double__fragment:after {
    right: 0;
    transform: translate(50%, -50%); }

.slider-double__fragment:before, .slider-double__fragment:after {
  width: 16px;
  height: 16px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer; }

.slider-single__fragment {
  width: 30%;
  height: 100%;
  background-color: #65abd0;
  position: relative;
  left: 0;
  display: block;
  border-radius: 20px;
  color: #65abd0; }
  .slider-single__fragment:after {
    width: 16px;
    height: 16px;
    background-color: currentColor;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transform: translate(50%, -50%); }

.progress {
  width: 300px;
  height: 36px;
  background-color: #dee2e7;
  float: left;
  padding: 3px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 18px; }

.progress__fill {
  width: 64%;
  height: 100%;
  background-color: #24aa98;
  padding-right: 10px;
  border-radius: 15px;
  text-align: right;
  line-height: 30px;
  font-family: sans-serif;
  color: #FFF; }

.tooltips {
  width: 330px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left; }

.tooltips__item {
  display: inline-block;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
  max-width: 200px;
  padding: 6px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #383737;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
  cursor: pointer; }
  .tooltips__item:after {
    width: 10px;
    height: 10px;
    background-color: #383737;
    content: '';
    position: absolute; }

.tooltips__item_top:after {
  left: 50%;
  bottom: 0;
  border-bottom-right-radius: 3px;
  transform: translate(-50%, 50%) rotate(45deg); }

.tooltips__item_left:after {
  left: 0;
  top: 50%;
  border-bottom-left-radius: 3px;
  transform: translate(-50%, -50%) rotate(45deg); }

.tooltips__item_right:after {
  right: 0;
  top: 50%;
  border-top-right-radius: 3px;
  transform: translate(50%, -50%) rotate(45deg); }

.tooltips__item_bottom:after {
  left: 50%;
  top: 0;
  border-top-left-radius: 3px;
  transform: translate(-50%, -50%) rotate(45deg); }

.steps * {
  box-sizing: border-box; }

.steps {
  width: 50%;
  padding: 0 18px;
  float: left; }

.steps__type {
  position: relative;
  height: 2px;
  margin-bottom: 50px;
  background-color: #c6ccd2; }

.steps__circle {
  width: 36px;
  height: 36px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  border: 2px solid #c6ccd2;
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  line-height: 32px; }

.step-one {
  left: 0;
  transform: translate(-50%, -50%); }

.steps__type_first > .is-active {
  border-color: #24aa98;
  background-color: #24aa98;
  color: #FFF; }

.steps__type_first:after {
  width: 25%;
  height: 4px;
  background-color: #24aa98;
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  border-radius: 2px;
  transform: translateY(-50%); }

.step-two {
  left: 50%;
  transform: translate(-50%, -50%); }

.step-three {
  right: 0;
  transform: translate(50%, -50%); }

.steps__type_second > .steps__circle:after {
  width: 36px;
  height: 36px;
  background-color: transparent;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%); }

.steps__type_second > .is-active {
  border-color: #65abd0;
  background-color: #65abd0;
  color: #FFF; }

.paginations {
  width: 40%;
  float: left;
  margin: 0 330px; }

.pagination {
  margin-bottom: 30px;
  text-align: center; }

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
  text-decoration: none; }

.pagination__link_back {
  position: relative; }
  .pagination__link_back:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: translate(-150%, -50%) rotate(45deg); }

.pagination_first > .pagination__link {
  color: #383737;
  transition: 0.3s; }

.pagination_first > .pagination__link_number {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid transparent;
  line-height: 32px; }

.pagination_first > .pagination__link.is-active {
  border-color: #65abd0;
  background-color: #65abd0;
  color: #FFF; }

.pagination_first > .pagination__link.is-previous {
  border-color: #c6ccd2; }

.pagination__link_next {
  position: relative; }
  .pagination__link_next:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: translate(150%, -50%) rotate(45deg); }

.pagination_second > .pagination__link {
  color: #c6ccd2;
  transition: 0.3s; }

.pagination_second > .pagination__link_number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 28px; }

.pagination_second > .pagination__link.is-active {
  color: #383737; }

.menu-list {
  width: 160px;
  float: left;
  font-family: sans-serif;
  margin-right: 30px; }

.menu-list__title {
  display: block;
  padding-left: 12px;
  font-size: 14px;
  line-height: 32px;
  color: #c6ccd2; }

.menu-list__part {
  margin: 0;
  padding: 0;
  list-style: none; }

.menu-list__part_categories {
  border-bottom: 2px solid #c6ccd2;
  margin-bottom: 15px;
  padding-bottom: 15px; }

.menu-list__link {
  display: block;
  width: 100%;
  padding-left: 12px;
  line-height: 36px;
  color: #383737;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 5px; }

.menu-list__link.is-active {
  background-color: #65abd0;
  color: #FFF; }

.table {
  float: left;
  width: 80%;
  margin-top: 10px; }

.singer-table {
  width: 100%;
  border-collapse: collapse; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

.singer-table__row {
  height: 48px; }

.singer-table__cell {
  border-top: 1px solid #c6ccd2;
  border-bottom: 1px solid #c6ccd2; }

.singer-table__cell_title {
  text-align: left;
  font-size: 14px;
  color: #b4bbc2;
  border-top: none; }

.singer-table__cell_title:last-child {
  text-align: right; }

.singer-table__cell_number {
  color: #b4bbc2; }

.singer-table__row.checked:not(.singer-table__cell_number) {
  color: #24aa98; }

.singer-table__cell_main-info {
  width: 30%; }

.singer-table__cell_select {
  text-align: right; }

.singer-table__select {
  position: relative;
  color: #FFF;
  visibility: hidden; }
  .singer-table__select:before {
    width: 16px;
    height: 16px;
    background-color: #c6ccd2;
    content: "";
    position: absolute;
    border-radius: 5px;
    visibility: visible;
    cursor: pointer; }
  .singer-table__select:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor; }

.singer-table__select:checked:before {
  background-color: #24aa98; }

.singer-table__select:checked:after {
  visibility: visible; }

.notifications {
  margin-top: 50px;
  float: left;
  font-family: sans-serif; }

.notification {
  position: relative;
  margin-bottom: 24px;
  padding: 14px 60px 14px 20px;
  line-height: 24px;
  color: #FFF;
  border-radius: 6px; }

.notification__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  color: #FFF;
  cursor: pointer; }
  .notification__close:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor; }

.notification_one {
  background-color: #24aa98; }

.notification_two {
  background-color: #d9c26c; }

.notification_three {
  background-color: #db7560; }

.notification__btn {
  margin: 12px 0;
  padding: 6px 37px;
  background-color: #e79f91;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 6px; }

.popovers {
  margin-top: 50px;
  float: left;
  overflow: hidden; }

.popover {
  display: inline-block;
  position: relative;
  width: 43%;
  padding: 25px;
  float: left;
  border: 2px solid #4c4b4b;
  border-radius: 5px;
  font-family: sans-serif;
  color: #383737; }

.popover_dark {
  background-color: #4c4b4b;
  color: #fff; }

.popover_dark > .popover__btn {
  background-color: transparent; }

.popover_dark > .popover__btn_positive {
  border-color: #24aa98;
  color: #24aa98; }

.popover_dark > .popover__btn_negative {
  border-color: #d9c26c;
  color: #d9c26c; }

.popover__title {
  margin: 0;
  font-size: 24px; }

.popover__text {
  margin: 15px 0;
  font-size: 16px;
  line-height: 22px; }

.popover__btn {
  min-width: 80px;
  padding: 4px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  font-family: sans-serif;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }

.popover__btn_positive {
  margin-right: 8px;
  background-color: #24aa98; }

.popover__btn_negative {
  background-color: #65abd0; }

.popover__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 10px;
  cursor: pointer; }
  .popover__close:after {
    width: 2px;
    height: 2px;
    background-color: currentColor;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor; }

.popover:first-child {
  margin-right: 2%; }

/*# sourceMappingURL=styles.css.map */
