<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-7</title>
    <link rel="stylesheet" href="../../../../css/templates/headers/header7/header-seventh.css">
</head>

<body>
    <div class="header">
        <div class="header__menu">
            <div class="header__logo"></div>
            <div class="btn_hamburger header__dropdown"></div>
            <nav class="header__navigation">
                <a href="#" class="header__navigation-link">Products</a>
                <a href="#" class="header__navigation-link">Prices</a>
                <a href="#" class="header__navigation-link">About Us</a>
                <a href="#" class="header__navigation-link">Contacts</a>
            </nav>
        </div>
        <h1 class="header__title">Take Your UI Design <br>To A Whole New Level</h1>
        <p class="header__paragraph">For good, too; though, in consequence of my previous emotions, I was still occasionally seized with a stormy sob. After we had jogged on for some little time, I asked the carrier if he was going all the way.</p>
        <div class="header__info">
            <div class="header__info-item">
                <span class="header__info-counter header__info-counter_elements">1000</span>
                <span class="header__info-desc">UI <br>Elements</span>
            </div>
            <div class="header__info-item">
                <span class="header__info-counter header__info-counter_templates">200</span>
                <span class="header__info-desc">Basic <br>Templates</span>
            </div>
            <div class="header__info-item">
                <span class="header__info-counter header__info-counter_icons">100</span>
                <span class="header__info-desc">Unique <br>Icons</span>
            </div>
        </div>
        <div class="btn_circle btn_circle-chevron btn_circle-chevron-down header__chevron-bottom"></div>
    </div>
</body>

</html>
