body {
    font-family: $font-stack;
    letter-spacing: 0.02em;
    color: $black-color;
    font-weight: 600;
}

.footer:not(:first-child) {
    margin-top: 20px;
}

.footer-first {
    padding: 56px 10px 46px 10px;
    background-color: $light-grey-color;
    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        @media (max-width: $mobile-size) {
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    &__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &>.logo {
            @include block-create(71px, 66px, url('../../../img/logo.svg'));
            margin-right: 50px;
            @media (max-width: $laptop-size) {
                margin-right: 30px;
            }
        }
    }
    &__nav {
        &-link {
            @include text-setting(16px,
            24px,
            $black-color);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:not(:first-child) {
                margin-left: 40px;
                @media (max-width: $laptop-size) {
                    margin-left: 20px;
                }
                @media (max-width: $tablet-size) {
                    margin-left: 0;
                }
            }
            @media (max-width: $tablet-size) {
                display: block;
            }
        }
    }
    &__social-links {
        margin-left: 30px;
        @media (max-width: $tablet-size) {
            -webkit-align-items: center;
            align-items: center;
        }
        &>.icon {
            font-size: 14px;
            color: $black-color;
            text-decoration: none;
            &:not(:first-child) {
                margin-left: 30px;
                @media (max-width: $tablet-size) {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
            &:hover {
                opacity: 0.6;
            }
            @media (max-width: $tablet-size) {
                display: block;
            }
        }
    }
    &__contact-info {
        &-region {
            font-size: 16px;
            line-height: 36px;
        }
        &-more {
            @include text-setting(16px,
            20px,
            $grey-color);
        }
    }
    &__phone-num {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
