.header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 178px;
    &-left {
        @include block-create(171px, 32px);
        @include bg-img(left, contain, no-repeat, url('./../img/logo.svg'));
    }
    &-right {
        & > * {
            display: inline-block;
        }
        &__name {
            margin-right: 4px;
            text-transform: capitalize;
            vertical-align: super;
            @include text-config($lato, 14px, 700, $color: $black-color);
        }
        &__avatar {
            @include block-create(30px, 30px);
            @include bg-img(top, cover, no-repeat, url('./../img/avatar.jpg'));
            border-radius: 50%;
            vertical-align: sub;
        }
        &__drop-down {
            @include block-create(24px, 24px);
            @include bg-img(center, 10px, no-repeat, url('./../img/icons/chevron_down.svg'));
            vertical-align: baseline;
            cursor: pointer;
        }
    }
}
