.user-profile-info {
    background-color: #f9f9f9;
    padding: 20px 36px 25px 36px;
    text-transform: capitalize;
    @include text-config($lato, 14px, 400, $profile-grey-color);
    line-height: 17px;
    &__row {
        &:not(:first-child) {
            margin-top: 7px;
        }
        &>.data-desc {
            display: inline-block;
            min-width: 105px;
        }
        &>.data-def {
            margin-left: 35px;
            color: $dark-grey-color;
        }
    }
}
