.user-profile-library {
    text-align: left;
    &__row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #fbfbfc;
        border-bottom: 1px solid #f0f0f0;
    }
}

.left-element {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 32%;
    &__icon {
        background-color: red;
        border-radius: 4px;
        min-width: 48px;
        min-height: 48px;
    }
    &__text {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 12px;
        &>strong {
            @include text-config($lato, 14px, 700, $red-color);
        }
        &>span {
            margin-top: 3px;
            @include text-config($lato, 12px, 400, #9b9b9b);
        }
    }
}

.central-element {
    width: 18%;
    &>* {
        display: block;
        @include text-config($lato, 12px, 400, #9b9b9b);
        line-height: 14px;
    }
}

.right-element {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    &__saves {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        &>.bookmark {
            @include block-create(12px, 15px);
            @include bg-img(center, cover, no-repeat, url('./../img/icons/bookmark.svg'));
        }
        &>span {
            @include text-config($lato,
            12px,
            400,
            #9b9b9b);
            margin-top: 3.5px;
        }
    }
    &__rates {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        &>span {
            @include text-config($lato,
            12px,
            400,
            #9b9b9b);
            margin-top: 3.5px;
        }
    }
}

.rate {
    max-height: 15px;
    &__star {
        display: inline-block;
        @include block-create(15px,
        15px);
        @include bg-img(center,
        cover,
        no-repeat,
        url('./../img/icons/grey_star.svg'));
        &_yellow {
            background-image: url('./../img/icons/yellow_star.svg');
        }
    }
}
