.user-profile {
    width: 923px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    &-main {
        position: relative;
        min-height: 152px;
        &>* {
            display: inline-block;
        }
        &__info {
            margin-top: 10px;
            padding-left: 202px;
        }
        &__avatar {
            position: absolute;
            top: -17px;
            left: 36px;
            @include block-create(120px, 120px);
            @include bg-img(center, cover, no-repeat, url('./../img/avatar.jpg'));
            border-radius: 4px;
        }
        &__text {
            &>* {
                display: block;
            }
            &>strong {
                text-transform: capitalize;
                @include text-config($lato,
                18px,
                700,
                $black-color);
                line-height: 22px;
            }
            &>.nickname {
                @include text-config($lato,
                14px,
                700,
                $black-color);
                line-height: 17px;
            }
            &>.status {
                @include text-config($lato,
                14px,
                400,
                $dark-grey-color);
                line-height: 24px;
            }
        }
        &__btn {
            margin-top: 26px;
            padding: 9.5px 25.5px;
            box-sizing: border-box;
            border: 1px solid #7f7f7f;
            display: inline-block;
            border-radius: 4px;
            text-transform: capitalize;
            @include text-config($lato,
            14px,
            400,
            #545454);
            transition: .3s;
            cursor: pointer;
            &:hover {
                background-color: $background-color;
            }
            &_show-less {
                position: absolute;
                padding: 4.5px 17px;
                bottom: 12px;
                right: 12px;
                font-size: 12px;
                line-height: 15px;
                border: 1px solid #bebebe;
                border-radius: 4px;
                border-color: #a5a5a5;
            }
        }
    }
}
