.policy {
  text-align: center;
  padding: 0 400px 40px;

  @include media(lLaptop) {
    padding: 0 360px 40px;
  }
  @include media(mLaptop) {
    padding: 0 160px 40px;
  }
  @include media(sLaptop) {
    padding: 0 100px 40px;
  }
  @include media(Tablet) {
    padding: 0 75px 40px;
  }
  @include media(Mobile) {
    padding: 0 20px 40px;
  }
  @include media(sMobile) {
    padding: 0 20px 40px;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: normal;
  }
  
  &-condition {
    text-align: left;
    &__paragraph {
      margin: 16px 0;
      & > .indented {
        text-indent: 8px;
      }
      & > a {
        color: #4A90E2;
        text-decoration: none;
      }
    }
  }
}