@mixin block-create($width, $height) {
    width: $width;
    height: $height;
}

@mixin text-config($family, $size, $weight, $color: $text-grey-color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin bg-img($position, $size, $repeat, $img) {
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
    background-image: $img;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin vertical-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin media($type) {
    @if $type=='xlLaptop' {
        @media (min-width: 1681px) {
            @content;
        }
    }
    @elseif $type=='sLaptop' {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @elseif $type=='wTablet' {
        @media (max-width: 768px) {
            @content;
        }
    }
    @elseif $type=='sTablet' {
        @media (max-width: 700px) {
            @content;
        }
    }
    @elseif $type=='Mobile' {
        @media (max-width: 480px) {
            @content;
        }
    }
    @elseif $type=='sMobile' {
        @media (max-width: 320px) {
            @content;
        }
    }
}
