@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');

$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;


$text-grey-color: #999;
$text-black-color: #333;

$main-color: #f38181;
$secondary-color: #fce38a;
$third-color: #eaffd0;
$fourth-color: #95e1d3;




