@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Lato|Playfair+Display');

$lato-font: 'Lato', sans-serif;
$playfair-font: 'Playfair Display', serif;
$didot-font: 'GFS Didot', serif;

$text-grey-color: #999999;
$text-black-color: #333333;
$blue-color: #1e85da;
$red-color: #fc411d;
$light-grey-color: #ededed


