.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 20px 0 50px;
    overflow: hidden;
}

.btn:focus {
    outline: none;
}

.btn {
    display: inline-block;
    background-color: $button-main-color;
    padding: 18px 30px;
    margin: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.btn_lg {
    padding: 24px 52px;
    font-size: 16px;
}

.btn_sm {
    padding: 13px 45px;
    font-size: 12px;
}

.btn_rounded {
    border-radius: 5px;
    padding: 18px 40px;
}

.btn_round {
    padding: 18px 32px;
    border-radius: 999rem;
}

.btn_secondary {
    padding: 16px 40px;
    background-color: $button-secondary-color;
    border: 2px solid $button-main-color;
    color: $button-main-color;
}

.btn_hamburger {
    padding: 0;    
    width: 48px;
    height: 48px;
    border-radius: 5px;
    &:after {
        content: "\2261";
        font-size: 1.5em;
    }
}

.btn_circle {
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    &:after {
        content: ">";
    }
}

.btn_arrow {
    padding: 18px 27px;
    border-radius: 5px;
    position: relative;
    &:after {
        width: 37px;
        height: 37px;
        border-radius: 5px;
        background-color: inherit;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(42%, -50%) rotate(45deg);
    }
}

.btn_lg.btn_rounded {
    border-radius: 5px;
    padding: 24px 64px;
}

.btn_lg.btn_round {
    padding: 24px 68px;
    border-radius: 999rem;
}

.btn_lg.btn_secondary {
    padding: 22px 68px;
    background-color: $button-secondary-color;
    border: 2px solid $button-main-color;
    color: $button-main-color;
}

.btn_lg.btn_circle {
    width: 60px;
    height: 60px;
}

.btn_sm.btn_rounded {
    border-radius: 5px;
    padding: 13px 29px;
}

.btn_sm.btn_round {
    padding: 13px 43px;
    border-radius: 999rem;
}

.btn_sm.btn_secondary {
    padding: 11px 31px;
    background-color: $button-secondary-color;
    border: 2px solid $button-main-color;
    color: $button-main-color;
}

.btn_sm.btn_hamburger {
    padding: 0;    
    width: 36px;
    height: 36px;
    border-radius: 5px;
    &:after {
        content: "\2261";
        font-size: 1.5em;
    }
}

.btn_sm.btn_circle {
    width: 36px;
    height: 36px;
}

.btn_group {
    padding: 0;
    border-radius: 5px;
    
}

.btn_group__elem {
    float: left;
    background-color: inherit;
    color: #fff;
    width: 36px;
    height: 36px;
    border: solid rgba(0,0,0,0.2);
    border-width: 0 1px 0 1px;
    background-clip: border-box;
    &:first-child {
        border-left: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: none;
    }
}

.btn_sm.btn_arrow {
    padding: 12px 25px;
    border-radius: 5px;
    position: relative;
    &:after {
        width: 29px;
        height: 29px;
        border-radius: 5px;
        background-color: inherit;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(42%, -50%) rotate(45deg);
    }
}


.split-buttons {
    margin: 40px 10px;
}

.split-btn {
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0 16px 20px 0;
}


.split-btn-group {
    display: inline-block;
    background-color: $button-third-color;
    border-radius: 5px;
}

.split-btn__item {
    float: left;
    width: 48px;
    height: 48px;
    color: #fff;
    border: solid rgba(0,0,0,0.2);
    border-width: 0 1px 0 1px;
    background-clip: border-box;
    &:first-child {
        border-left: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: none;
    }
}

.line { 
    display: block; 
    margin: 50% auto; 
    content: ' '; 
    background-color: #fff; 
    width: 18px; 
    height: 2px; 
    box-shadow: 48px 0 0 0 $button-secondary-color, 96px 0 0 0 $button-secondary-color; 
    position: relative;
    &:before {
        bottom: 6px; 
        left: 0; 
        position: absolute; 
        content: ' '; 
        background-color: #fff; 
        width: 14px; 
        height: 2px; 
        box-shadow: 50px 0 0 0 $button-secondary-color, 100px 0 0 0 $button-secondary-color; 
    }
    &:after {
        top: 6px; 
        position: absolute; 
        content: ' '; 
        background-color: #fff; 
        width: 12px; 
        height: 2px; 
        box-shadow: 51px 0 0 0 $button-secondary-color, 102px 0 0 0 $button-secondary-color; 
    }
} 

.split-btn-input {
    position: relative;
    width: 296px;
}

.split-btn-input__field {
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 18px;
    padding-right: 80px;
    border: 2px solid #c6ccd2;
    box-sizing: border-box;
}

.split-btn-input__send {
    width: 76px;
    height: 100%;
    background-color: #24aa98;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 6px 0;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.split-btn-input_dropdown {
    position: relative;
    width: 380px;
}

.split-btn-input_dropdown__field {
    height: 100%;
    width: 100%;
    padding-left: 125px;
    padding-right: 80px;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
    box-sizing: border-box;
}

.split-btn-input_dropdown__select {
    width: 112px;
    height: 100%;
    background-color: #24aa98;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 20px;
    border: none;
    border-radius: 6px 0 0 6px;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
    &:after {
        width: 2px;
        height: 2px;
        background-color: currentColor;
        content: '';
        position: absolute;
        top: 55%;
        right: 20px;
        box-shadow: 1px -1px 0 0 currentColor,
        2px -2px 0 0 currentColor,
        3px -3px 0 0 currentColor,
        4px -4px 0 0 currentColor,
        -1px -1px 0 0 currentColor,
        -2px -2px 0 0 currentColor,
        -3px -3px 0 0 currentColor,
        -4px -4px 0 0 currentColor;
        }
}

.split-btn-input_dropdown__send {
    width: 76px;
    height: 100%;
    background-color: #24aa98;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.split-btn_dropdown {
    width: 59px;
    border-radius: 5px;
}

.split-btn_dropdown-btn {
    width: 100%;
    height: 100%;
    background-color: #24aa98;
    position: relative;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
    &:after {
        width: 2px;
        height: 2px;
        background-color: currentColor;
        content: '';
        position: absolute;
        top: 55%;
        right: 15px;
        box-shadow: 1px -1px 0 0 currentColor,
        2px -2px 0 0 currentColor,
        3px -3px 0 0 currentColor,
        4px -4px 0 0 currentColor,
        -1px -1px 0 0 currentColor,
        -2px -2px 0 0 currentColor,
        -3px -3px 0 0 currentColor,
        -4px -4px 0 0 currentColor;
    }
}


