.dropdown {
    width: 220px;
    margin-right: 50px;
    margin-bottom: 200px;
    float: left;
}

.dropdown__btn {
    position: relative;
    color: #FFF;
    transition: 0.3s;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: translateY(-50%) rotate(45deg);
    }
}

.dropdown__btn:first-child {
    margin-bottom: 20px;
}

.dropdown__link {
    display: block;
    background-color: #24aa98;
    padding-left: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 6px;
}


.dropdown__link_open {
    border-radius: 6px 6px 0 0;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.dropdown__link_menu {
    background-color: #1a9385;
    border-radius: 0;
    border-bottom: 1px solid #1a877b;
    border-top: 1px solid #1a877b;
}

.dropdown__open:after {
    transform: rotate(225deg);
}