input:focus {
    outline: none;
}

.inputs-normal {
    margin: 10px;
}

.field {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    margin: 0 16px 20px 0;
    height: 48px;
}

.field__input {
    width: 100%;
    height: 100%;
    padding: 0 18px;
    border: 2px solid #c6ccd2;
    border-radius: 5px;
    font-weight: bold;
    color: #c6ccd2;
    box-sizing: border-box;
}

.is-active {
    border-color: #65abd0;
    color: black;
}

.field .search-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #c6ccd2;
    transform: translateY(-60%);
    &:after {
        width: 3px;
        height: 8px;
        background-color: #c6ccd2;
        content: '';
        position: absolute;
        top: 75%;
        right: -40%;
        transform: rotate(-45deg);
    }
}

.field__input_round {
    padding: 0 45px;
    border-radius: 24px;
}

.field__succeed-icon {
    position: absolute;
    top: 50%;
    right: 11px;
    width: 14px;
    height: 10px;
    color: #24aa98;
    transform: translateY(-50%);
    cursor: pointer;
    &:after {
        width: 2px;
        height: 3px;
        background-color: currentColor;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: -1px 1px 0 0 currentColor,
        -2px 2px 0 0 currentColor,
        -3px 3px 0 0 currentColor,
        -4px 4px 0 0 currentColor,
        -5px 5px 0 0 currentColor,
        -6px 6px 0 0 currentColor,
        -7px 7px 0 0 currentColor,
        -8px 6px 0 0 currentColor,
        -9px 5px 0 0 currentColor,
        -10px 4px 0 0 currentColor,
        -11px 3px 0 0 currentColor;
    }
}

.is-succeed {
    border-color: #24aa98;
    color: black;
}

.field__close-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 10px;
    height: 10px;
    color: #db7560;
    transform: translateY(-50%);
    cursor: pointer;
    &:after {
        width: 2px;
        height: 2px;
        background-color: currentColor;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px -1px 0 0 currentColor,
        2px -2px 0 0 currentColor,
        3px -3px 0 0 currentColor,
        4px -4px 0 0 currentColor,
        1px 1px 0 0 currentColor,
        2px 2px 0 0 currentColor,
        3px 3px 0 0 currentColor,
        4px 4px 0 0 currentColor,
        -1px -1px 0 0 currentColor,
        -2px -2px 0 0 currentColor,
        -3px -3px 0 0 currentColor,
        -4px -4px 0 0 currentColor,
        -1px 1px 0 0 currentColor,
        -2px 2px 0 0 currentColor,
        -3px 3px 0 0 currentColor,
        -4px 4px 0 0 currentColor;
    }
}

.is-error {
    border-color: #db7560;
    color: black;
}

.field__input_search {
    padding-right: 50px;
}

.field__input_search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #c6ccd2;
    color: #FFF;
    cursor: pointer;
    &:before {
        width: 3px;
        height: 3px;
        background-color: currentColor;
        content: '';
        position: absolute;
        top: 57%;
        left: 57%;
        box-shadow: 1px 1px 0 0 currentColor,
        2px 2px 0 0 currentColor,
        3px 3px 0 0 currentColor,
        4px 4px 0 0 currentColor,
        5px 5px 0 0 currentColor;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid currentColor;
        border-radius: 50%;
        transform: translate(-60%, -60%);
    }
}

.is-devided {
    width: 75%;
    color: black;
}

.is-devided + .field__input_search-btn {
    border-radius: 5px;
    background-color: #24aa98;
}






