.menu-list {
    width: 160px;
    float: left;
    font-family: sans-serif;
    margin-right: 30px;
}

.menu-list__title {
    display: block;
    padding-left: 12px;
    font-size: 14px;
    line-height: 32px;
    color: #c6ccd2;
}

.menu-list__part {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list__part_categories {
    border-bottom: 2px solid #c6ccd2;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.menu-list__link {
    display: block;
    width: 100%;
    padding-left: 12px;
    line-height: 36px;
    color: #383737;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 5px;
}

.menu-list__link.is-active {
    background-color: #65abd0;
    color: #FFF;
}