.paginations {
    width: 40%;
    float: left;
    margin: 0 330px;
}

.pagination {
    margin-bottom: 30px;
    text-align: center;
}

.pagination__link {
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    text-decoration: none;
}

.pagination__link_back {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 5px;
        height: 5px;
        border-left: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: translate(-150%, -50%) rotate(45deg);
    }
}

.pagination_first > .pagination__link {
    color: #383737;
    transition: 0.3s;
}

.pagination_first > .pagination__link_number {    
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid transparent;
    line-height: 32px;
}

.pagination_first > .pagination__link.is-active {
    border-color: #65abd0;
    background-color: #65abd0;
    color: #FFF;
}

.pagination_first > .pagination__link.is-previous {
    border-color: #c6ccd2;
}

.pagination__link_next {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 5px;
        height: 5px;
        border-top: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: translate(150%, -50%) rotate(45deg);
    }
}

.pagination_second > .pagination__link {
    color: #c6ccd2;
    transition: 0.3s;
}

.pagination_second > .pagination__link_number {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
}

.pagination_second > .pagination__link.is-active {
    color: #383737;
}