.popovers {
    margin-top: 50px;
    float: left;
    overflow: hidden;
}

.popover {
    display: inline-block;
    position: relative;
    width: 43%;
    padding: 25px;
    float: left;
    border: 2px solid #4c4b4b;
    border-radius: 5px;
    font-family: sans-serif;
    color: #383737;
}

.popover_dark {
    background-color: #4c4b4b;
    color: #fff;
}

.popover_dark > .popover__btn {
    background-color: transparent;
}

.popover_dark > .popover__btn_positive {
    border-color: #24aa98;
    color: #24aa98;
}

.popover_dark > .popover__btn_negative {
    border-color: #d9c26c;
    color: #d9c26c;
}

.popover__title {
    margin: 0;
    font-size: 24px;
}

.popover__text {
    margin: 15px 0;
    font-size: 16px;
    line-height: 22px;
}

.popover__btn {
    min-width: 80px;
    padding: 4px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-family: sans-serif;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.popover__btn_positive {
    margin-right: 8px;
    background-color: #24aa98;
}

.popover__btn_negative {
    background-color: #65abd0;
}

.popover__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    &:after {
        width: 2px;
        height: 2px;
        background-color: currentColor;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px -1px 0 0 currentColor,
        2px -2px 0 0 currentColor,
        3px -3px 0 0 currentColor,
        4px -4px 0 0 currentColor,
        1px 1px 0 0 currentColor,
        2px 2px 0 0 currentColor,
        3px 3px 0 0 currentColor,
        4px 4px 0 0 currentColor,
        -1px -1px 0 0 currentColor,
        -2px -2px 0 0 currentColor,
        -3px -3px 0 0 currentColor,
        -4px -4px 0 0 currentColor,
        -1px 1px 0 0 currentColor,
        -2px 2px 0 0 currentColor,
        -3px 3px 0 0 currentColor,
        -4px 4px 0 0 currentColor;
    }
}

.popover:first-child {
    margin-right: 2%;
}