.steps * {
    box-sizing: border-box;
}

.steps {
    width: 50%;
    padding: 0 18px;
    float: left;
}

.steps__type {
    position: relative;
    height: 2px;
    margin-bottom: 50px;
    background-color: #c6ccd2;
}

.steps__circle {
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    border: 2px solid #c6ccd2;
    border-radius: 50%;
    text-align: center;
    font-family: sans-serif;
    line-height: 32px;
}

.step-one {
    left: 0;
    transform: translate(-50%, -50%);
}

.steps__type_first > .is-active {
    border-color: #24aa98;
    background-color: #24aa98;
    color: #FFF;
}

.steps__type_first:after {
    width: 25%;
    height: 4px;
    background-color: #24aa98;
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%);
}


.step-two {
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-three {
    right: 0;
    transform: translate(50%, -50%);
}


.steps__type_second > .steps__circle:after {
    width: 36px;
    height: 36px;
    background-color: transparent;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.steps__type_second > .is-active {
    border-color: #65abd0;
    background-color: #65abd0;
    color: #FFF;
}


