$button-main-color: #65abd0;
$button-secondary-color: #fff;
$button-third-color: #24aa98;
$small-radius: 5px;
$big-radius: 30px;
$circle-radius: 50px;
$big-font-size: 15px;
$middle-font-size: 14px;
$small-font-size: 13px;
$input-field-main-color : #c6ccd2;
$input-field-active-color : #65abd0;
$input-field-success-color : #24aa98;
$input-field-error-color : #db7560;