<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footers</title>
    <link rel="stylesheet" href="../../css/templates/footers/footers.css">
</head>

<body>
    <footer class="footer footer-first">
        <div class="footer-first__content">
            <div class="footer-first__menu">
                <div class="logo"></div>
                <div class="footer-first__nav">
                    <a href="#" class="footer-first__nav-link">Products</a>
                    <a href="#" class="footer-first__nav-link">Prices</a>
                    <a href="#" class="footer-first__nav-link">About Us</a>
                    <a href="#" class="footer-first__nav-link">Contacts</a>
                </div>
                <div class="footer-first__social-links">
                    <a href="#" class="icon icon--fb"></a>
                    <a href="#" class="icon icon--twitter"></a>
                    <a href="#" class="icon icon--google-plus"></a>
                </div>
            </div>
            <div class="footer-first__contact-info">
                <span class="footer-first__contact-info-region">Roseville, CA</span><br>
                <span class="footer-first__contact-info-more">920 Reserve Dr. Suite 140<br><a href="tel:415 496-9612" class="footer-first__contact-info-more footer-first__phone-num">(415) 496-9612</a></span>
            </div>
        </div>
    </footer>
    <footer class="footer footer-second">
        <div class="footer-second__content">
            <div class="footer-second__part footer-second__part--content">
                <h4 class="footer-second__content-title">Design assets to speed up your workflow</h4>
                <p class="footer-second__content-paragraph">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                <div class="follow-links">
                    <a href="#" class="follow-links__item follow-links__item--fb"><span class="icon icon--fb"></span>136</a>
                    <a href="#" class="follow-links__item follow-links__item--tw"><span class="icon icon--twitter"></span>68</a>
                    <a href="#" class="follow-links__item follow-links__item--db"><span class="icon icon--dribbble"></span>16</a>
                    <a href="#" class="follow-links__item follow-links__item--in"><span class="icon icon--linked-in"></span>13</a>
                </div>
                <div class="footer-second__content-other-links">
                    <a href="#" class="footer-second__content-other-link">Terms and Conditions</a>
                    <a href="#" class="footer-second__content-other-link">Privacy Policy</a>
                </div>
            </div>
            <div class="footer-second__part footer-second__part--nav">
                <div class="footer-second__part--nav-list">
                    <h6 class="footer-second__part--nav-list-title">Services</h6>
                    <ul>
                        <li><a href="#" class="footer-second__part--nav-list-link">Branding</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">UX Design</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">Prototype</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">UI Design</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">Development</a></li>
                    </ul>
                </div>
                <div class="footer-second__part--nav-list">
                    <h6 class="footer-second__part--nav-list-title">About Us</h6>
                    <ul>
                        <li><a href="#" class="footer-second__part--nav-list-link">Company</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">Our Team</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">Testimonials</a></li>
                        <li><a href="#" class="footer-second__part--nav-list-link">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer footer-third">
        <div class="footer-third__container">
            <div class="footer-third__nav">
                <div class="footer-third__part">
                    <h6 class="footer-third__nav-title footer-third__nav-title_name">Joseph Wood</h6>
                    <ul>
                        <li><a href="#" class="footer-third__nav-link">Timeline</a></li>
                        <li><a href="#" class="footer-third__nav-link">Messages</a></li>
                        <li><a href="#" class="footer-third__nav-link">Statistic</a></li>
                        <li><a href="#" class="footer-third__nav-link">Settings</a></li>
                        <li><a href="#" class="footer-third__nav-link">Logout</a></li>
                    </ul>
                </div>
                <div class="footer-third__part">
                    <h6 class="footer-third__nav-title">Services</h6>
                    <ul>
                        <li><a href="#" class="footer-third__nav-link">Branding</a></li>
                        <li><a href="#" class="footer-third__nav-link">UX Design</a></li>
                        <li><a href="#" class="footer-third__nav-link">Prototype</a></li>
                        <li><a href="#" class="footer-third__nav-link">UI Design</a></li>
                        <li><a href="#" class="footer-third__nav-link">Development</a></li>
                    </ul>
                </div>
                <div class="footer-third__part">
                    <h6 class="footer-third__nav-title">About Us</h6>
                    <ul>
                        <li><a href="#" class="footer-third__nav-link">Company</a></li>
                        <li><a href="#" class="footer-third__nav-link">Our Team</a></li>
                        <li><a href="#" class="footer-third__nav-link">Testimonials</a></li>
                        <li><a href="#" class="footer-third__nav-link">Contacts</a></li>
                    </ul>
                </div>
                <div class="footer-third__part">
                    <div class="logo"></div>
                    <h6 class="footer-third__nav-title">UI8 &copy; 2010–2014 </h6>
                    <ul>
                        <li><a href="#" class="footer-third__nav-link">Terms and Conditions</a></li>
                        <li><a href="#" class="footer-third__nav-link">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer footer-fourth">
        <div class="footer-fourth__container">
            <div class="footer-fourth__part footer-fourth__part_logo">
                <div class="logo"></div>
            </div>
            <div class="footer-fourth__part footer-fourth__part_contacts">
                <h6 class="footer-fourth__part-title">Contacts</h6>
                <span class="footer-fourth__part-paragraph">920 Reserve Dr. Suite 140 <br>Roseville, CA 95678</span>
                <a href="tel:415 496-9612" class="footer-fourth__part-paragraph footer-fourth__phone-link">(415) 496-9612</a>
                <a href="mailto:info@creativeda.sh" class="footer-fourth__part-paragraph footer-fourth__email-link">info@creativeda.sh</a>
            </div>
            <div class="footer-fourth__part footer-fourth__part_info">
                <h6 class="footer-fourth__part-title">Info</h6>
                <p class="footer-fourth__part-paragraph">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
            </div>
            <div class="footer-fourth__part footer-fourth__part_app">
                <h6 class="footer-fourth__part-title">Our app</h6>
                <a href="#" class="btn btn_rounded btn_success footer-fourth__part-btn-link">Buy app</a>
                <a href="#" class="footer-fourth__part-simple-link">or Learn More</a>
            </div>
        </div>
    </footer>
    <footer class="footer footer-fifth">
        <div class="footer-fifth__head">
            <form action="#">
                <div class="footer-fifth__head-container footer-fifth__container">
                    <label for="subs" class="footer-fifth__head-label">Subscribe our newsletters</label>
                    <div class="footer-fifth__head-input">
                        <input type="email" id="subs" class="input-field input-field_ic_left" placeholder="Your e-mail here">
                        <span class="icon icon--envelope"></span>
                    </div>
                    <button class="btn btn_rounded btn_warning footer-fifth__head-btn">Subscribe</button>
                </div>
            </form>
        </div>
        <div class="footer-fifth__body">
            <div class="footer-fifth__container">
                <div class="footer-fifth__content">
                    <div class="footer-fifth__body-part footer-fifth__body-part_logo">
                        <div class="footer-fifth__logo"></div>
                    </div>
                    <div class="footer-fifth__body-part footer-fifth__body-part_nav">
                        <h6 class="footer-fifth__body-part-title">Services</h6>
                        <ul>
                            <li><a href="#" class="footer-fifth__service-nav-link">Branding</a></li>
                            <li><a href="#" class="footer-fifth__service-nav-link">UX Design</a></li>
                            <li><a href="#" class="footer-fifth__service-nav-link">Prototype</a></li>
                            <li><a href="#" class="footer-fifth__service-nav-link">UI Design</a></li>
                            <li><a href="#" class="footer-fifth__service-nav-link">Development</a></li>
                        </ul>
                    </div>
                    <div class="footer-fifth__body-part footer-fifth__body-part_map"><span class="icon icon--placeholder"></span></div>
                    <div class="footer-fifth__body-part footer-fifth__body-part_contacts">
                        <span class="footer-fifth__body-part-title">UI8 &copy; 2010–2014 </span>
                        <span class="footer-fifth__contact-info"><a href="tel:4154969612" class="footer-fifth__contact-info_phone-num">(415) 496-9612</a><br>920 Reserve Dr. Suite 140<br>Roseville, CA 95678</span>
                        <a href="#" class="btn btn_rounded btn_info footer-fifth__contact-link">Email Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer footer-sixth">
        <nav class="footer-sixth__nav">
            <a href="#" class="footer-sixth__nav-link">Popular</a>
            <a href="#" class="footer-sixth__nav-link">Recent</a>
            <a href="#" class="footer-sixth__nav-link">Teams</a>
            <a href="#" class="footer-sixth__nav-link">Debuts</a>
            <a href="#" class="footer-sixth__nav-link">Playoffs</a>
            <a href="#" class="footer-sixth__nav-link">Animated GIF’s</a>
        </nav>
        <div class="footer-sixth__social-nav">
            <a href="#" class="icon icon--fb"></a>
            <a href="#" class="icon icon--twitter"></a>
            <a href="#" class="icon icon--dribbble"></a>
            <a href="#" class="icon icon--vimeo"></a>
            <a href="#" class="icon icon--google-plus"></a>
        </div>
        <span class="footer-sixth__copyright">&copy; UI8 2014 – All Right Reserved</span>
    </footer>
    <footer class="footer footer-seventh">
		<div class="footer-seventh__container">
			<div class="footer-seventh__part footer-seventh__part_logo">
			<div class="logo"></div>
			</div>
			<div class="footer-seventh__part footer-seventh__part_list">
				<h6 class="list-title">Women</h6>
				<ul>
					<li><a href="#" class="footer-seventh__part_list-link">Coats</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Outerwear</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Dresses</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Jumpsuits</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Tops</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Trousers</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Jeans</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Skirts</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Knitwear</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">T-shirts</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Shoes</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Handbags</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Accessories</a></li>
				</ul>
			</div>
			<div class="footer-seventh__part footer-seventh__part_list">
				<h6 class="list-title">Men</h6>
				<ul>
					<li><a href="#" class="footer-seventh__part_list-link">Coats</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Jackets</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Blazers</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Suits</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Trousers</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Jeans</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Shirts</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">T-shirts</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Sweatshirts</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Knitwear</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Shoes</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Bags</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Accessories</a></li>
					<li><a href="#" class="footer-seventh__part_list-link is-new">Soft Wear<span>new</span></a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Special Price</a></li>
				</ul>
			</div>
			<div class="footer-seventh__part footer-seventh__part_list">
				<h6 class="list-title">Kids</h6>
				<ul>
					<li><a href="#" class="footer-seventh__part_list-link">Girl</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Boy</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Baby</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">girl</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Baby</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">boy</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">MINI</a></li>
				</ul>
			</div>
			<div class="footer-seventh__part footer-seventh__part_info">
				<div class="follow-box">
					<h6 class="follow__title">Follow Us</h6>
					<div class="footer-seventh__social-nav">
						<a href="#" class="icon icon--fb"></a>
						<a href="#" class="icon icon--twitter"></a>
						<a href="#" class="icon icon--dribbble"></a>
						<a href="#" class="icon icon--vimeo"></a>
						<a href="#" class="icon icon--google-plus"></a>
					</div>
				</div>
				<div class="subscribe-box">
					<h6 class="subscribe__title">Subscribing</h6>
					<p class="subscribe__text">We will never send you spam or some other trash</p>
					<form action="#">
						<div class="subscribe__input-group">
							<input type="email" class="input-field subscribe__field" placeholder="hello@creativedas.sh" required>
							<button class="subscribe__btn"></button>
						</div>
					</form>
				</div>
				<h6 class="list-title">menu</h6>
				<ul>
					<li><a href="#" class="footer-seventh__part_list-link">Company</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Our Team</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Testimonials</a></li>
					<li><a href="#" class="footer-seventh__part_list-link">Contacts</a></li>
				</ul>
			</div>
			<span class="footer-seventh__copyright">&copy; UI8 2014 – All Right Reserved</span>
		</div>
	</footer>
    <footer class="footer footer-eighth">
        <div class="footer-eighth__content">
            <nav class="footer-eighth__part footer-eighth__part_nav">
                <a href="#" class="footer-eighth__part_nav-link">Recomendations</a>
                <a href="#" class="footer-eighth__part_nav-link">My Channel</a>
                <a href="#" class="footer-eighth__part_nav-link">Journal</a>
                <a href="#" class="footer-eighth__part_nav-link">See Later</a>
            </nav>
            <div class="footer-eighth__part footer-eighth__part_copy">
                <span class="footer-eighth__part_copy-text">&copy; UI8 2014 – All Right Reserved</span>
                <a href="#" class="icon icon--fb"></a>
                <a href="#" class="icon icon--twitter"></a>
                <a href="#" class="icon icon--linked-in"></a>
            </div>
        </div>
    </footer>
    <footer class="footer footer-ninth">
        <div class="footer-ninth__content">
            <div class="footer-ninth__part">
                <div class="logo"></div>
            </div>
            <div class="footer-ninth__part">
                <h6 class="footer-ninth__part-title">Joseph Wood</h6>
                <ul>
                    <li><a href="#" class="footer-ninth__part-link">Timeline</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Messages</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Statistic</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Settings</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Logout</a></li>
                </ul>
            </div>
            <div class="footer-ninth__part">
                <h6 class="footer-ninth__part-title">Services</h6>
                <ul>
                    <li><a href="#" class="footer-ninth__part-link">Branding</a></li>
                    <li><a href="#" class="footer-ninth__part-link">UX Design</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Prototype</a></li>
                    <li><a href="#" class="footer-ninth__part-link">UI Design</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Development</a></li>
                </ul>
            </div>
            <div class="footer-ninth__part">
                <h6 class="footer-ninth__part-title">About Us</h6>
                <ul>
                    <li><a href="#" class="footer-ninth__part-link">Company</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Our Team</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Contacts</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Terms and Conditions</a></li>
                    <li><a href="#" class="footer-ninth__part-link">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-ninth__part footer-ninth__part_follow">
                <div class="subscribe-box">
                    <h6 class="subscribe__title">Subscribing</h6>
                    <form action="#">
                        <div class="subscribe__input-group">
                            <input type="email" class="input-field subscribe__field" placeholder="hello@creativedas.sh" required>
                            <button class="subscribe__btn"></button>
                        </div>
                    </form>
                </div>
                <div class="footer-ninth__follow-box">
                    <h6 class="follow__title">Follow Us</h6>
                    <a href="#" class="icon icon--fb"></a>
                    <a href="#" class="icon icon--twitter"></a>
                    <a href="#" class="icon icon--dribbble"></a>
                    <a href="#" class="icon icon--vimeo"></a>
                    <a href="#" class="icon icon--google-plus"></a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer footer-tenth">
		<div class="footer-tenth__content">
			<h2 class="footer-tenth__title">The Best App Ever</h2>
			<span class="footer-tenth__sign-up-text">Please Sign Up to Get Our App</span>
			<form action="#">
				<div class="footer-tenth__form">
					<div class="footer-tenth__input-group">
						<input type="email" class="input-field footer-tenth__form-field" placeholder="E-mail">
					</div>
					<div class="footer-tenth__input-group">
						<input type="password" class="input-field footer-tenth__form-field" placeholder="Password">
					</div>
					<div class="footer-tenth__input-group footer-tenth__input-group_btn">
						<button class="btn btn_rounded btn_warning footer-tenth__form-btn">Sign up</button>
					</div>
				</div>
			</form>
			<nav class="footer-tenth__nav">
				<a href="#" class="footer-tenth__nav-link">Products</a>
				<a href="#" class="footer-tenth__nav-link">Prices</a>
				<a href="#" class="footer-tenth__nav-link">About Us</a>
				<a href="#" class="footer-tenth__nav-link">Contacts</a>
			</nav>
			<span class="footer-tenth__copyright">&copy; UI8 2014 – All Right Reserved</span>
		</div>
	</footer>
</body>

</html>
