.pagination {
	text-align: center;
    &:not(:first-child) {
        margin-top: 30px;
    }
	&__link {
		display: inline-block;
		vertical-align: middle;
		font-family: $font-stack;
		font-weight: 600;
		text-decoration: none;
		&_back {
			position: relative;
			&:before {
				@include pos('topLeft', 50%, 0);
				content: '';
				width: 5px;
				height: 5px;
				border-left: 2px solid currentColor;
				border-bottom: 2px solid currentColor;
				transform: translate(-150%, -50%) rotate(45deg);
			}
		}
		&_next {
			position: relative;
			&:after {
				@include pos('topRight', 50%, 0);
				content: '';
				width: 5px;
				height: 5px;
				border-top: 2px solid currentColor;
				border-right: 2px solid currentColor;
				transform: translate(150%, -50%) rotate(45deg);
			}
		}
	}
	&_first > .pagination__link {
		color: $black-color;
		transition: 0.3s;
		&:not(span):hover {
			border-color: $grey-color;
		}
		&_number,
		&_dots {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			border: 2px solid transparent;
			line-height: 32px;
		}
		&.is-active {
			border-color: $blue-color;
			background-color: $blue-color;
			color: #FFF;
		}
	}
	&_second > .pagination__link {
		color: $grey-color;
		transition: 0.3s;
		&:not(span):hover {
			color: $black-color;
		}
		&_number,
		&_dots {
			width: 28px;
			height: 28px;
			border-radius: 50%;
			line-height: 28px;
		}
		&.is-active {
			color: $black-color;
		}
	}
}