[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

[type=range]:focus {
  outline: none;
}

[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: $grey-color;
  border-radius: 999px;
}

[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: $blue-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: $grey-color;
  border-radius: 999px;
}

[type=range]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: $blue-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}