@import 'settings/settings';
@import 'components/buttons';
body {
    font-family: $font-stack;
}

.container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.title {
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    text-shadow: 1px 1px 2px $black-color;
}

.template-link {
    @extend %border-radius;
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid black;
    span {
        @include text-setting(30px, 20px, #fff);
        display: block;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: black;
        visibility: hidden;
    }
    &:hover {
        box-shadow: 0 0 7px 3px $black-color;
    }
    &:hover>span {
        visibility: visible;
    }
    &_base {
        background-image: url('../img/base.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_headers {
        background-image: url('../img/headers.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_footers {
        background-image: url('../img/footers.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_forms {
        background-image: url('../img/forms.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_navigations {
        background-image: url('../img/navigations.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.in-progress {
    &:after {
        position: absolute;
        content: 'IN PROGRESS';
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 30px;
        background-color: rgba(67, 198, 172, 0.5);
        font-size: 28px;
        color: black;
    }
}
