@import 'settings/settings';
@import 'components/buttons';
body {
    font-family: $font-stack;
}

.container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 10px;
}

.title {
    top: 0;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $black-color;
}

.template-link {
    @extend %border-radius;
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px #383737;
    span {
        top: 0;
        left: 0;
        position: absolute;
        font-size: 30px;
        line-height: 50px;
        color: #fff;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 6px 6px 0 0;
        text-align: center;
        display: none;
    }
    &:hover {
        box-shadow: 0 0 7px 3px $black-color;
    }
    &:hover>span {
        display: block;
    }
    &_base {
        background-image: url('../img/base.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_headers {
        background-image: url('../img/headers.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_footers {
        background-image: url('../img/footers.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_forms {
        background-image: url('../img/forms.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_navigations {
        background-image: url('../img/navigations.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.in-progress {
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: 'IN PROGRESS';
        font-size: 30px;
        line-height: 50px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0 0 6px 6px;
        text-align: center;
        display: none;
    }
    &:hover:after {
        display: block;
    }
}
