.wrapper_sm-forms {
    margin-top: 20px;
}

.form-wrapper {
    display: inline-block;
    width: 33%;
}

.form-sm{
    background-color: #f2f5f8;
    padding: 36px 30px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    .form-sm__title {
        position: absolute;
        top: 20px;
        left: 22px;
        text-transform: uppercase;
    }
    .form-sm__link {
        position: absolute;
        top: 20px;
        right: 15px;
        text-decoration: none;
        color: $form-primary-color;
    }
    
    .form-sm__question {
        display: block;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #b4bbc2;
    }
    
    [type='submit'] {
        @include submit-btn;
        background-color: $form-primary-color;
    }
    
}

.form-sm__socials {
    @include form-socials;
    a {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 18px;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .btn {
        text-align: left;
    }
}


.form-sm_sign-in {
    label {
        margin-bottom: 29px;
    }
    [type="submit"] {
        background-color:$form-secondary-color;
    }
}


.form-sm_reset-pass {
    padding: 36px 2\30px;
    [type="submit"] {
        background-color:$form-fourth-color;
        margin-top: 24px;
    }
}

.form-sm_subscribe {
    padding: 20px;
    padding-top: 55px;
    padding-bottom: 22px;
    margin-top: 5%;
    p {
        text-align: left;
        color: #b4bbc2;
    }
    form > * {
        display: inline-block;
    }
    .form__input {
        width: 77%;
        margin-top: 0;
    }
    [type="submit"] {
        background-color: $form-third-color;
        width: 18%;
        position: relative;
        color: #fff;
        margin-top: 2px;
    }
}
