<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-2</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../../../css/templates/headers/header2/header-second.css">
</head>

<body>
    <header class="header">
        <div class="header__navigation">
            <a class="header__dropdown btn_hamburger" href=""></a>
            <nav>
                <a href="#" class="header__navigation-link">Products</a>
                <a href="#" class="header__navigation-link">Prices</a>
                <a href="#" class="header__navigation-link">About Us </a>
                <a href="#" class="header__navigation-link">Contacts</a>
            </nav>
        </div>   
        <div class="header__content"> 
            <div class="header__logo"></div>
            <h1 class="header__title">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</h1>
            <a href="#" class="btn btn_round btn_success">Learn more</a>
        </div>
    </header>
</body>

</html>
