@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$lato: 'Lato', sans-serif;


$user-menu-color: #676767;
$profile-menu-color: #b2b2b2;
$profile-grey-color: #9b9b9b;

$black-color: #333333;
$dark-grey-color: #4a4a4a;
$light-grey-color: #b2b2b2;
$red-color: #d0021b;

$background-color: #ebebeb;



