$global-font-icon: 'icon-font';

@font-face {
	font-family: $global-font-icon;
	src: url("../font/icon/icon-font.woff2") format("woff2"),
	url("../font/icon/icon-font.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
.icon {
	font-family: $global-font-icon;
	&:before {
   /* Some common icon stuff */
 }
 
 	&.icon--small-calendar {
 		&:before {
 			content: $icon-small-calendar;
 		}
 	}
}