<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Header-4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-2</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../../../css/templates/headers/header4/header-fourth.css">
</head>

<body>
    <div class="header">
        <div class="header__menu">
            <div class="btn_hamburger header__dropdown"></div>
            <nav class="header__navigation">
                <a href="#" class="header__navigation-link">Products</a>
                <a href="#" class="header__navigation-link">Prices</a>
                <a href="#" class="header__navigation-link">About Us</a>
                <a href="#" class="header__navigation-link">Contacts</a>
            </nav>
            <div class="header__logo"></div>
        </div>
        <div class="header__bg-photo">
            <img src="../img/bg-4-phone.png" alt="phone" class="header__bg-photo__img">
        </div>
        <h1 class="header__title">This I have produces as a scantling of Jack's great eloquence and <br>the force of his reasoning upon such abstruse matters</h1>
        <a href="#" class="btn btn_round btn_success">Download</a>

    </div>
</body>

</html>
