@import '../../../settings/normalize';
@import '../../../settings/settings';
@import '../../../components/buttons';
@import '../../../components/inputs';
body {
    font-family: $font-stack;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: $black-color;
}

.header {
    height: 100vh;
    padding: 8vh 10%;
    background: url('../../../../templates/headers/views/img/bg-3-img.jpg') top 30% center;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
    @media(max-width:$tablet-size){
        padding: 8vh 5%;
    }
    &__menu {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        @include block-create(71px,
        66px,
        url('../../../../img/logo.svg'));
        background-size: cover;
    }
    &__navigation {
        &-link {
            @include text-setting(16px,
            24px);
            font-weight: 400;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:not(:first-child) {
                margin-left: 40px;
                @media (max-width: $mobileL-size) {
                    margin-left: 15px;
                }
                @media (max-width: $mobileS-size) {
                    display: none;
                }
            }
        }
        @media (max-width: $mobile-size) {
            display: none;
        }
    }
    &__dropdown {
        margin-right: 1.5vw;
    }
    &__title {
        width: 55%;
        margin: 15vh auto;
        font-size: 36px;
        line-height: 48px;
        @media (max-width: $tablet-size) {
            width: 80%;
        }
        @media (max-width: $mobile-size) {
            width: 100%;
            margin: 5vh auto;
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width: $mobileS-size) {
            font-size: 26px;
            line-height: 34px;
        }
        @media (max-height: $mobile-size) {
            width: 100%;
            margin: 5vh auto;
            font-size: 26px;
            line-height: 36px;
        }
    }
    &__sign-up-form {
        @extend %border-radius;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 660px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: $light-grey-color;
        &__item {
            flex: 1 1 auto;
            padding: 0 10px;
            &:not(:last-child) {
                @media (max-width: $mobile-size) {
                    margin-bottom: 10px;
                }
            }
            @media (max-width: $mobileL-size) {
                padding: 0 5px;
            }
        }
        &__btn {
            min-width: 80px;
            width: 100%;
        }
        @media (max-width: $mobileL-size) {
            padding: 15px 5px;
        }
        @media (max-width: $mobile-size) {
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            width: 100%;
            padding: 15px 10px;
        }
        @media (max-height: $mobile-size) {
            padding: 15px 5px;
        }
    }
}
