.header {
  background-image: linear-gradient(to bottom , #e7e7e7, rgba(255,255,255,0)) , url("./../assets/general/background.jpg");
  background-position: top, bottom;
  -webkit-background-size: 100% 75%, cover;
  background-size: 100% 75%, cover;
  background-repeat: no-repeat;

  @include media(Mobile) {
    background-position: top, top;
  }
  @include media(sMobile) {
    background-position: top, top;
  }


  &-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 360px;
    @include media(lLaptop) {
      padding: 18px 300px;
    }
    @include media(mLaptop) {
      padding: 18px 100px;
    }
    @include media(sLaptop) {
      padding: 18px 55px;
    }
    @include media(Tablet) {
      padding: 18px 15px;
    }
    @include media(Mobile) {
      padding: 8px 40px;
    }
    @include media(sMobile) {
      padding: 8px 40px;
    }

    &__logo {
      max-width: 25%;
      @include media(Mobile) {
        max-width: 100%;
      }
      @include media(sMobile) {
        max-width: 100%;
      }
      &>img {
        width: 100%;
      }
    }
    &-menu {
      display: flex;
      @include media(Mobile) {
        display: none;
      }
      @include media(sMobile) {
        display: none;
      }
      &__item {
        @include text-config(Arial, 14px, normal, #000, 1);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        padding: 5px 0;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          height: 1px;
          width: 0;
          bottom: 0;
          left: 50%;
          background-color: black;
          transition: .3s;
        }
        &:after {
          position: absolute;
          content: '';
          height: 1px;
          width: 0;
          bottom: 0;
          right: 50%;
          background-color: black;
          transition: .3s;
        }

        &:hover {
          &:before {
            width: 50%;
          }
          &:after {
            width: 50%;
          }
        }

        &:not(:first-child) {
          margin-left: 48px;
        }
      }
      @include media(Mobile) {
        display: none;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 80px 360px 0;
    @include media(lLaptop) {
      padding: 60px 300px 0;
    }
    @include media(mLaptop) {
      padding: 60px 140px 0;
    }
    @include media(sLaptop) {
      padding: 40px 100px 0;
    }
    @include media(Tablet) {
      padding: 40px 55px 0;
    }
    @include media(Mobile) {
      flex-direction: column;
      padding: 40px 25px;
    }
    @include media(sMobile) {
      flex-direction: column;
      padding: 40px 25px;
    }


    &-left {
      display: flex;
      flex-direction: row;
      max-width: 45%;
      position: relative;
      @include media(sMobile) {
        max-width: 80%;
      }
      @include media(Mobile) {
        max-width: 80%;
      }
      &>img {
        width: 100%;
        min-width: 100%;

        &:first-child {
          height: 100%;
        }

        &:last-child {
          width: 70%;
          min-width: 60%;
          align-self: flex-end;
          transform: translateX(-25%);
          @include media(sMobile) {
            transform: translate(-63%, 2px);
          }
          @include media(Mobile) {
            transform: translate(-63%, 2px);
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      max-width: 48%;
      text-align: center;
      @include media(sMobile) {
        max-width: 100%;
      }
      @include media(Mobile) {
        max-width: 100%;
      }

      &__logo {
        margin-top: 20px;
        @include media(Mobile) {
          margin-top: 34px;
        }
        @include media(sMobile) {
          margin-top: 28px;
        }

        &>img {
          max-width: 100%;
        }

        &>span {
          display: block;
          margin-top: 10px;
          @include text-config(Arial, 28px, bold, #000, 1);
          @include media(sLaptop) {
            font-size: 24px;
          }
          @include media(Tablet) {
            font-size: 18px;
          }
          @include media(Mobile) {
            font-size: 18px;
          }
          @include media(sMobile) {
            font-size: 18px;
          }
        }
      }
      &__links {
        margin-top: 20px;
        height: 84px;
        display: flex;
        justify-content: space-between;
        @include media(lLaptop) {
          height: 74px;
        }
        @include media(mLaptop) {
          height: 74px;
        }
        @include media(sLaptop) {
          height: 64px;
        }
        @include media(Tablet) {
          height: 44px;
        }
        @include media(Mobile) {
          height: 74px;
        }
        @include media(sMobile) {
          height: 44px;
        }
      }
    }
    &_winners {
      align-items: center;
      padding-top: 0;
      &__text {
        max-width: 60%;
        @include media(Mobile) {
          margin-top: 30px;
          max-width: 100%;
        }
        @include media(sMobile) {
          margin-top: 30px;
          max-width: 100%;
        }
      }
      &__img {
        max-width: 35%;
        @include media(Mobile) {
          display: none;
        }
        @include media(sMobile) {
          display: none;
        }
      }
      & img {
        max-width: 100%;
        transform: translateY(4px);
      }
    }
  }
}