*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: $font-stack;
	letter-spacing: 0.02em;
	font-weight: 600;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	max-width: 960px;
	margin: 0 auto; 
	padding: 30px 0;
	@media (max-width: $laptop-size) {
		padding: 10px 0;
	}
}

.wrapper {
	display: flex;
	&__form {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 10px;
		&_sm {
			@media (max-width: $tablet-size) {
				-webkit-flex: 1 1 50%;
				-ms-flex: 1 1 50%;
				flex: 1 1 50%;
			}
			@media (max-width: $mobile-size) {
				-webkit-flex: 1 1 100%;
				-ms-flex: 1 1 100%;
				flex: 1 1 100%;
			}
		}
		&_config-data {
			@media (max-width: $tablet-size) {
				display: flex;
			}
			@media (max-width: $mobile-size) {
				flex-direction: column;
			}
		}
		&_contact {
			&_sm {
				width: calc(100% / 3);
				padding: 10px;
				@media (max-width: $laptop-size) {
					padding: 5px;
				}
				@media (max-width: $tablet-size) {
					display: flex;
					-webkit-justify-content: center;
					        justify-content: center;
					width: 100%;
				}
			}
		}
		@media (max-width: $laptop-size) {
			padding: 5px;
		}
	}
	&_big-forms {
		@media (max-width: $mobileL-size) {
			flex-direction: column;
		}
	}
	&_small-forms {
		@media (max-width: $tablet-size) {
			flex-wrap: wrap;
		}
	}
	&_contact-forms {
		@media (max-width: $tablet-size) {
			flex-direction: column;
		}
	}
	&_contact-forms,
	&_shopping-forms {
		margin-top: 50px;
		@media (max-width: $tablet-size) {
			margin-top: 20px;
		}
	}
	&_shopping-forms {
		display: block;
	}
}
