
$icon-bookmark: "\EA01" !default;

$icon-chevron_down: "\EA02" !default;

$icon-menu_calendar: "\EA03" !default;

$icon-menu_friends: "\EA04" !default;

$icon-menu_group: "\EA05" !default;

$icon-menu_help: "\EA06" !default;

$icon-menu_library: "\EA07" !default;

$icon-menu_locations: "\EA08" !default;

$icon-menu_stats: "\EA09" !default;