.header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  border-bottom: 1px solid #e3e6ea;
  background-color: $white-color;
  box-sizing: border-box;
  box-shadow: 0px 15px 20px -15px rgba(127,127,127,0.5);
  z-index: 3;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 952px;
    margin: 0 auto;
  }

  &__logo {
    width: 110px;
    height: 42px;
    padding: 17px 0;
  }

  &-nav {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;
      margin: 0 2px;
      @include dropDownStyles;

      &__text {
        display: inline-block;
        position: relative;
        padding: 10px 20px;
        font-family: KlavikaRegCaps, "PT Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $blue-color;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;

        &:before, &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          bottom: 1px;
          background-color: $blue-color;
          transition: .3s;
        }

        &:before {
          right: 50%;
        }

        &:after {
          left: 50%;
        }

        &:hover:before, &:hover:after {
          width: 50%;
        }
      }

      &.is-active {

        .dropDown {
          transform: translateY(8px);

          &-wrapper {
            height: auto;
          }
        }
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0;

    &__item {
      display: flex;
      align-items: center;
      font-family: Klavika, "PT Sans", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: $text-color;
      text-decoration: none;
      cursor: pointer;

      .icon {
        margin-right: 6px;
      }

      .text {
        text-decoration: underline;
        text-decoration-color: #c8ccd0;
      }

      &:last-of-type {
        margin-top: 6px;
      }
    }
  }

  &-menu {
    display: none;
    margin-left: 20px;
    @include dropDownStyles;

    .dropDown-wrapper {
      right: 14px;
      left: auto;
      pointer-events: none;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 20px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      overflow: hidden;

      .line {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: $blue-color;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 8px;
        }

        &:last-child {
          top: 16px;
        }
      }
    }

    &.is-active {

      .header-menu__icon {
        position: relative;

        & > .line {

          &:first-child {
            top: 8px;
            transform: rotate(135deg);
          }

          &:nth-child(2) {
            opacity: 0;
            left: -20px;
          }

          &:last-child {
            top: 8px;
            transform: rotate(-135deg);
          }
        }
      }

      .dropDown {
        transform: translateY(8px);

        &-wrapper {
          height: auto;
          pointer-events: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header {
    padding: 0 14px;

    &-nav {

      &-item {

        &__text {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .header {
    padding: 0 14px;

    &-container {
      align-items: center;
    }

    &__logo {
      padding: 8px 0;
    }

    &-nav {
      display: none;
    }

    &-contacts {
      flex-direction: row;
      align-items: center;

      &__item {
        font-size: 26px;

        .text {
          display: none;
        }

        &:last-of-type {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }

    &-menu {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {

  .header {

    &__logo {
      width: 70px;
      height: 28px;
    }
  }
}