.footer-ninth {
    background-color: #383737;
}

.footer-ninth__content {
    margin: 58px auto;
    & > * {
        display: inline-block;
        vertical-align: top;
    }
    img {
        margin-top: -8px;
        max-height: 66px;
    }
}

.footer-ninth__item {
    &>* {
        display: block;
    }
    &:not(:first-child) {
        margin-left: 70px;
    }
    span {
        color: #fff;
        font-size: 16px;
    }
    a {
        margin-top: 20px;
        text-decoration: none;
        color: #b4bbc2;
        font-weight: 600;
    }
}

.footer-ninth__subscribing {
    form {
        margin-top: 22px;
        margin-bottom: 36px;
    }
    input {
        height: 36px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
    }
    [type="email"] {
        width: 180px;
        padding: 0 12px;
    }
    [type="submit"] {
        width: 36px;
        margin-left: 12px;
        background-color: #24aa98;
        color: #fff;
    }
    a {
        display: inline-block;
        &:not(:first-of-type) {
            margin-left: 28px;
        }
    }
}
