* {
  font-family: sans-serif; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 0; }

.wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.form-lg {
  background-color: #f2f5f8;
  border-radius: 5px;
  color: #fff;
  width: 48%; }
  .form-lg h1 {
    text-transform: uppercase; }

.form-lg__header {
  height: 144px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .form-lg__header a {
    position: absolute;
    top: 20px;
    right: 18px;
    color: #fff;
    text-decoration: none; }

.form-lg__header_sign-up {
  background: url("../img/sign-up-bg.png") center no-repeat; }

.form-lg__header_sign-in {
  background: url("../img/sign-in-bg.png") center no-repeat; }

.form-lg__content {
  padding: 6px 30px;
  text-align: center; }

.form__input {
  margin-top: 24px; }
  .form__input input {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: 2px solid #c6ccd2;
    border-radius: 5px; }

.form__input-field {
  padding-left: 45px; }

.form__input-field_email {
  background: url(../img/mail-logo.svg) left 13px center no-repeat, #fff;
  background-size: 20px; }

.form__input-field_password {
  background: url(../img/password-logo.svg) left 13px center no-repeat, #fff;
  background-size: 20px; }

.form-lg__content_sign-up [type='submit'] {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background-color: #65abd0; }

.form-lg__content_sign-up span {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #c6ccd2; }

.form-lg__content_sign-in [type='submit'] {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background-color: #24aa98; }

.checkbox {
  float: left;
  color: #c6ccd2; }
  .checkbox [type="checkbox"] {
    display: none; }
  .checkbox > * {
    display: inline-block; }

.checkbox__label {
  position: relative;
  left: 25px;
  font-size: 14px;
  color: #b4bbc2;
  font-family: sans-serif;
  letter-spacing: 0.02em;
  cursor: pointer;
  margin: 18px 0; }

.checkbox-changer {
  width: 16px;
  height: 16px;
  background: #c6ccd2;
  left: -25px;
  position: absolute;
  color: #FFF;
  border-radius: 6px; }

.checkbox:checked + label > span {
  background-color: #24aa98; }

.form-lg__socials {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-top: 2px solid #dee2e7;
  position: relative;
  margin-top: 27px;
  padding-top: 27px;
  padding-bottom: 27px; }
  .form-lg__socials span {
    top: 0;
    left: 50%;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    display: block;
    width: 39px;
    background-color: #f2f5f8;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: #c6ccd2;
    margin: 0; }
  .form-lg__socials a {
    width: 47%;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; }
  .form-lg__socials a {
    padding-top: 16px;
    padding-bottom: 16px; }

.btn_facebook {
  background-color: #3162a2; }

.btn_twitter {
  background-color: #65abd0; }

.wrapper_sm-forms {
  margin-top: 20px; }

.form-wrapper {
  display: inline-block;
  width: 33%; }

.form-sm {
  background-color: #f2f5f8;
  padding: 36px 30px;
  position: relative;
  border-radius: 5px;
  text-align: center; }
  .form-sm .form-sm__title {
    position: absolute;
    top: 20px;
    left: 22px;
    text-transform: uppercase; }
  .form-sm .form-sm__link {
    position: absolute;
    top: 20px;
    right: 15px;
    text-decoration: none;
    color: #65abd0; }
  .form-sm .form-sm__question {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #b4bbc2; }
  .form-sm [type='submit'] {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #65abd0; }

.form-sm__socials {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-top: 2px solid #dee2e7;
  position: relative;
  margin-top: 27px;
  padding-top: 27px; }
  .form-sm__socials span {
    top: 0;
    left: 50%;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    display: block;
    width: 39px;
    background-color: #f2f5f8;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: #c6ccd2;
    margin: 0; }
  .form-sm__socials a {
    width: 47%;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; }
  .form-sm__socials a {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 18px;
    padding-left: 30px;
    box-sizing: border-box; }
  .form-sm__socials .btn {
    text-align: left; }

.form-sm_sign-in label {
  margin-bottom: 29px; }

.form-sm_sign-in [type="submit"] {
  background-color: #24aa98; }

.form-sm_reset-pass {
  padding: 36px 2\30px; }
  .form-sm_reset-pass [type="submit"] {
    background-color: #db7560;
    margin-top: 24px; }

.form-sm_subscribe {
  padding: 20px;
  padding-top: 55px;
  padding-bottom: 22px;
  margin-top: 5%; }
  .form-sm_subscribe p {
    text-align: left;
    color: #b4bbc2; }
  .form-sm_subscribe form > * {
    display: inline-block; }
  .form-sm_subscribe .form__input {
    width: 77%;
    margin-top: 0; }
  .form-sm_subscribe [type="submit"] {
    background-color: #d9c26c;
    width: 18%;
    position: relative;
    color: #fff;
    margin-top: 2px; }

/*# sourceMappingURL=styles.css.map */
