@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

* {
  outline: none; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "icon-font";
  src: url("../font/icon/icon-font.woff2") format("woff2"), url("../font/icon/icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "icon-font"; }
  .icon:before {
    /* Some common icon stuff */ }
  .icon.icon--bg:before {
    content: ""; }
  .icon.icon--chat:before {
    content: ""; }
  .icon.icon--chats:before {
    content: ""; }
  .icon.icon--circles:before {
    content: ""; }
  .icon.icon--clock:before {
    content: ""; }
  .icon.icon--dribble:before {
    content: ""; }
  .icon.icon--equalizer:before {
    content: ""; }
  .icon.icon--eye:before {
    content: ""; }
  .icon.icon--facebook:before {
    content: ""; }
  .icon.icon--focus:before {
    content: ""; }
  .icon.icon--google:before {
    content: ""; }
  .icon.icon--group:before {
    content: ""; }
  .icon.icon--house:before {
    content: ""; }
  .icon.icon--instagram:before {
    content: ""; }
  .icon.icon--monitor:before {
    content: ""; }
  .icon.icon--opened-book:before {
    content: ""; }
  .icon.icon--picture:before {
    content: ""; }
  .icon.icon--pinterest:before {
    content: ""; }
  .icon.icon--placeholder:before {
    content: ""; }
  .icon.icon--search:before {
    content: ""; }
  .icon.icon--shopping-cart:before {
    content: ""; }
  .icon.icon--tumblr:before {
    content: ""; }
  .icon.icon--twitter:before {
    content: ""; }
  .icon.icon--youtube:before {
    content: ""; }

section {
  text-align: center; }

.heading-label {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333; }

.section-heading {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase; }
  .section-heading:after {
    display: block;
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f38181;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -40px; }

.section-paragraph {
  display: inline-block;
  max-width: 954px;
  margin-top: 64px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999; }

.slider {
  position: relative; }
  .slider-item {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 110px; }
    .slider-item > .avatar {
      border-radius: 50%; }
    @media (max-width: 800px) {
      .slider-item {
        padding: 0 60px; } }
    @media (max-width: 320px) {
      .slider-item {
        padding: 0 25px; } }
  .slider__arrow {
    position: absolute;
    top: 50%;
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
            transform: rotate(45deg) translate(-50%, -50%);
    cursor: pointer; }
    @media (max-width: 540px) {
      .slider__arrow {
        width: 14px;
        height: 14px; } }
    .slider__arrow--left {
      left: 2%;
      border-left: 4px solid #ccc;
      border-bottom: 4px solid #ccc; }
      @media (max-width: 540px) {
        .slider__arrow--left {
          border-left: 2px solid #ccc;
          border-bottom: 2px solid #ccc; } }
    .slider__arrow--right {
      right: 2%;
      border-right: 4px solid #ccc;
      border-top: 4px solid #ccc; }
      @media (max-width: 540px) {
        .slider__arrow--right {
          border-right: 2px solid #ccc;
          border-top: 2px solid #ccc; } }

.header {
  position: relative;
  width: auto;
  outline: 1px solid black;
  background: url(./../img/baner-1-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .header-content {
    position: relative;
    padding: 28px 360px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff; }
    @media (max-width: 1680px) {
      .header-content {
        padding: 28px 280px; } }
    @media (max-width: 1440px) {
      .header-content {
        padding: 20px 140px; } }
    @media (max-width: 1024px) {
      .header-content {
        padding: 20px 100px; } }
    @media (max-width: 800px) {
      .header-content {
        padding: 10px 40px; } }
    @media (max-width: 540px) {
      .header-content {
        padding: 10px 10px; } }
  .header-top {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff; }
  .header-nav {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 800px) {
      .header-nav {
        display: none; } }
    .header-nav__item {
      position: relative;
      padding: 12px 0;
      text-transform: uppercase;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      .header-nav__item:not(:first-child) {
        margin-left: 50px; }
        @media (max-width: 1024px) {
          .header-nav__item:not(:first-child) {
            margin-left: 30px; } }
        @media (max-width: 800px) {
          .header-nav__item:not(:first-child) {
            margin-left: 20px; } }
      .header-nav__item--link:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        background-color: #eaffd0;
        width: 0;
        height: 2px;
        -webkit-transition: .3s;
        transition: .3s; }
      .header-nav__item--link:hover:after {
        width: 100%; }
  .header-dropDown {
    position: relative;
    display: none; }
    @media (max-width: 800px) {
      .header-dropDown {
        display: block; } }
    .header-dropDown__btn {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background-image: url("./../img/menu.svg");
      background-size: cover;
      background-position: center; }
    .header-dropDown__links {
      display: none;
      -webkit-transition: .4s;
      transition: .4s;
      position: absolute;
      background-color: white;
      border-radius: 4px;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      width: 100vw;
      right: -30px;
      top: 110%; }
      .header-dropDown__links > a {
        display: block;
        padding: 8px 16px;
        font-family: "Kaushan Script", cursive;
        font-size: 14px;
        font-weight: 400;
        color: #f38181;
        text-transform: capitalize;
        text-decoration: none; }
      .header-dropDown__links.is-active {
        display: block; }
  .header-main {
    text-align: center;
    margin-top: 160px; }
    @media (max-width: 1440px) {
      .header-main {
        margin-top: 100px; } }
    @media (max-width: 800px) {
      .header-main {
        margin-top: 60px; } }
  .header__heading-label {
    display: block;
    font-family: "Kaushan Script", cursive;
    font-size: 72px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    line-height: 62px; }
    @media (max-width: 1440px) {
      .header__heading-label {
        font-size: 36px; } }
  .header__heading {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 62px; }
    @media (max-width: 1440px) {
      .header__heading {
        margin-top: 40px;
        font-size: 72px; } }
    @media (max-width: 800px) {
      .header__heading {
        font-size: 48px; } }
  .header__learn-more {
    display: inline-block;
    position: relative;
    padding: 12px 30px;
    border: 3px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent; }
    @media (max-width: 800px) {
      .header__learn-more {
        margin-top: 14px;
        padding: 8px 18px; } }
    .header__learn-more:before {
      display: block;
      position: absolute;
      content: '';
      height: 3px;
      width: 60px;
      background-color: currentColor;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -50px; }
      @media (max-width: 800px) {
        .header__learn-more:before {
          top: -30px; } }
  .header-links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 158px; }
    @media (max-width: 1440px) {
      .header-links {
        margin-top: 100px; } }
    .header-links__item {
      position: relative;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      min-width: 22%;
      text-align: left;
      padding-top: 25px; }
      @media (max-width: 600px) {
        .header-links__item {
          font-size: 12px; } }
      .header-links__item > .line {
        position: absolute;
        content: '';
        top: 0;
        width: 100%;
        height: 3px;
        background-color: #fff; }
        .header-links__item > .line__left {
          background-color: #f38181;
          height: 3px;
          width: 0; }
        .header-links__item > .line__right {
          height: 3px;
          width: 100%; }
      .header-links__item.is-active .line__left {
        width: 25%; }
      .header-links__item.is-active .line__left {
        width: 25%; }

.about-us {
  padding: 94px 360px 110px 360px; }
  @media (max-width: 1680px) {
    .about-us {
      padding: 82px 280px 90px 280px; } }
  @media (max-width: 1440px) {
    .about-us {
      padding: 82px 140px 90px 180px; } }
  @media (max-width: 1280px) {
    .about-us {
      padding: 60px 100px; } }
  @media (max-width: 800px) {
    .about-us {
      padding: 40px 40px; } }
  @media (max-width: 540px) {
    .about-us {
      padding: 30px 10px; } }
  .about-us-pics {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 104px; }
    @media (max-width: 1680px) {
      .about-us-pics {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 600px) {
      .about-us-pics {
        margin-top: 50px; } }
    .about-us-pics__box {
      background-color: #95e1d3;
      width: 30%; }
    .about-us-pics__item {
      position: relative;
      width: 100%;
      height: 250px;
      -webkit-transition: .4s;
      transition: .4s; }
      .about-us-pics__item > img {
        width: 100%;
        height: 100%; }
      @media (max-width: 1680px) {
        .about-us-pics__item {
          height: 100px; } }
      .about-us-pics__item > .text {
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-transform: uppercase;
        opacity: 0;
        -webkit-transition: .3s;
        transition: .3s; }
      .about-us-pics__item .icon {
        display: block;
        font-size: 20px; }
      .about-us-pics__item:hover {
        -webkit-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px); }
        .about-us-pics__item:hover > .text {
          opacity: 1; }

.facts {
  background-color: #95e1d3;
  padding: 0 360px; }
  @media (max-width: 1680px) {
    .facts {
      padding: 0 280px; } }
  @media (max-width: 1440px) {
    .facts {
      padding: 0 140px; } }
  @media (max-width: 1280px) {
    .facts {
      padding: 0 100px; } }
  @media (max-width: 1024px) {
    .facts {
      padding: 0 100px; } }
  @media (max-width: 800px) {
    .facts {
      padding: 0 40px; } }
  @media (max-width: 540px) {
    .facts {
      padding: 0 10px; } }
  .facts-box {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
    @media (max-width: 600px) {
      .facts-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .facts-box__item {
      height: inherit;
      padding: 90px 0;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #fff; }
      @media (max-width: 1440px) {
        .facts-box__item {
          padding: 60px 0; } }
      @media (max-width: 1280px) {
        .facts-box__item {
          padding: 40px; } }
      @media (max-width: 800px) {
        .facts-box__item {
          padding: 30px 0; } }
      @media (max-width: 600px) {
        .facts-box__item {
          padding: 10px 0; } }
      .facts-box__item > * {
        display: block; }
      .facts-box__item > .count {
        font-size: 72px;
        line-height: 1.2;
        font-weight: bold; }
        @media (max-width: 1280px) {
          .facts-box__item > .count {
            font-size: 48px; } }
        @media (max-width: 1024px) {
          .facts-box__item > .count {
            font-size: 36px; } }
        @media (max-width: 480px) {
          .facts-box__item > .count {
            font-size: 24px; } }
      .facts-box__item > .fact {
        line-height: 1.2; }
        @media (max-width: 1024px) {
          .facts-box__item > .fact {
            font-size: 12px; } }
        @media (max-width: 540px) {
          .facts-box__item > .fact {
            font-size: 10px; } }
        @media (max-width: 480px) {
          .facts-box__item > .fact {
            font-size: 18px; } }

.service {
  padding: 112px 360px; }
  @media (max-width: 1680px) {
    .service {
      padding: 100px 280px; } }
  @media (max-width: 1440px) {
    .service {
      padding: 80px 140px; } }
  @media (max-width: 1280px) {
    .service {
      padding: 80px 100px; } }
  @media (max-width: 800px) {
    .service {
      padding: 40px 40px; } }
  @media (max-width: 540px) {
    .service {
      padding: 30px 10px; } }
  @media (max-width: 480px) {
    .service {
      padding: 20px 5px; } }
  .service-box {
    margin-top: 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .service-box-row {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      justify-content: space-between;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .service-box-row:first-child {
        border-bottom: 1px solid #e5e5e5; }
    .service-box__item {
      padding: 54px 30px;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1px;
          -ms-flex-positive: 1px;
              flex-grow: 1px; }
      .service-box__item > .icon {
        font-size: 24px;
        font-weight: bold;
        color: #95e1d3; }
      @media (max-width: 800px) {
        .service-box__item {
          padding: 44px 10px; } }
      @media (max-width: 600px) {
        .service-box__item {
          padding: 34px 10px; } }
      @media (max-width: 540px) {
        .service-box__item {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media (max-width: 320px) {
        .service-box__item {
          padding: 24px 5px; } }
  .service-info {
    margin-left: 28px;
    text-align: left; }
    @media (max-width: 540px) {
      .service-info {
        margin-top: 10px;
        margin-left: 0;
        text-align: center; } }
    .service-info__name {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      text-transform: uppercase; }
      @media (max-width: 320px) {
        .service-info__name {
          font-size: 12px; } }
    .service-info__desc {
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #999; }
      @media (max-width: 540px) {
        .service-info__desc {
          font-size: 12px; } }

.feauture {
  padding-top: 112px;
  position: relative;
  background-image: url("./../img/feauture-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .feauture-devices {
    margin: 86px auto 0 auto;
    overflow: hidden; }
    .feauture-devices__item {
      display: inline-block;
      width: 476px;
      height: auto; }
      .feauture-devices__item_tablet {
        margin-bottom: -135px; }
        @media (max-width: 1024px) {
          .feauture-devices__item_tablet {
            width: 400px; } }
        @media (max-width: 800px) {
          .feauture-devices__item_tablet {
            width: 300px; } }
        @media (max-width: 320px) {
          .feauture-devices__item_tablet {
            width: 220px; } }
      .feauture-devices__item_phone {
        position: absolute;
        width: 208px;
        margin-left: -84px;
        bottom: -52px; }
        @media (max-width: 1024px) {
          .feauture-devices__item_phone {
            width: 150px; } }
        @media (max-width: 800px) {
          .feauture-devices__item_phone {
            width: 100px; } }
        @media (max-width: 320px) {
          .feauture-devices__item_phone {
            width: 80px; } }

.service2 {
  padding: 112px 360px; }
  .service2-box {
    margin-top: 95px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .service2-box__elem {
      width: 50%; }
  .service2-image {
    max-width: 95%; }
  .service2-menu__item {
    border: 1px solid #e5e5e5;
    max-height: 240px;
    min-height: 54px;
    overflow: hidden; }
    .service2-menu__item:not(:first-child) {
      margin-top: 10px; }
    .service2-menu__item-name {
      top: 0;
      padding: 14px 12px;
      position: relative;
      text-align: left;
      background-color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      text-transform: uppercase;
      vertical-align: top; }
      .service2-menu__item-name > span {
        vertical-align: middle; }
      .service2-menu__item-name > .icon {
        color: #95e1d3;
        font-size: 24px;
        margin-right: 16px; }
      .service2-menu__item-name:after {
        position: absolute;
        content: ' ';
        width: 10px;
        height: 10px;
        top: 50%;
        right: 24px;
        -webkit-transform: rotate(45deg) translateY(-100%);
                transform: rotate(45deg) translateY(-100%);
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border: 2px solid #ccc; }
      .service2-menu__item-name.is-active + .service2-menu__item-desc {
        margin-top: 0; }
      .service2-menu__item-name.is-active:after {
        -webkit-transform: rotate(225deg) translateY(-100%);
                transform: rotate(225deg) translateY(-100%); }
    .service2-menu__item-desc {
      border-top: 1px solid #e5e5e5;
      margin: 0;
      padding: 20px;
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 300;
      color: #999;
      font-style: italic;
      line-height: 24px;
      margin-top: -100%;
      -webkit-transition: .5s;
      transition: .5s; }

.quote {
  margin-top: 120px;
  padding: 70px 360px;
  background-color: #f8f8f8; }
  @media (max-width: 1680px) {
    .quote {
      padding: 60px 280px; } }
  @media (max-width: 1440px) {
    .quote {
      padding: 50px 140px; } }
  @media (max-width: 1280px) {
    .quote {
      padding: 50px 100px; } }
  @media (max-width: 800px) {
    .quote {
      padding: 20px 40px; } }
  @media (max-width: 600px) {
    .quote {
      padding: 20px 10px; } }
  @media (max-width: 540px) {
    .quote {
      padding: 20px 10px; } }
  .quote__icon {
    font-size: 60px;
    padding: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #95e1d3;
    border: 3px solid #95e1d3; }
    @media (max-width: 800px) {
      .quote__icon {
        padding: 20px;
        font-size: 36px; } }
    @media (max-width: 320px) {
      .quote__icon {
        padding: 10px;
        font-size: 24px; } }
  .quote__text {
    margin-left: 60px;
    text-align: left; }
    @media (max-width: 540px) {
      .quote__text {
        margin-left: 30px; } }
    .quote__text > blockquote {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 300;
      color: #999;
      margin: 0;
      line-height: 36px;
      font-style: italic; }
      @media (max-width: 1280px) {
        .quote__text > blockquote {
          font-size: 18px;
          line-height: 24px; } }
      @media (max-width: 800px) {
        .quote__text > blockquote {
          font-size: 14px;
          line-height: 18px; } }
      @media (max-width: 540px) {
        .quote__text > blockquote {
          font-size: 12px;
          line-height: 14px; } }
    .quote__text > cite {
      display: block;
      position: relative;
      font-family: "Kaushan Script", cursive;
      font-size: 24px;
      font-weight: 400;
      color: #333;
      text-transform: capitalize;
      line-height: 1.2;
      text-indent: 72px;
      margin-top: 28px; }
      @media (max-width: 800px) {
        .quote__text > cite {
          font-size: 18px;
          margin-top: 10px; } }
      .quote__text > cite:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #f38181;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }

.team {
  margin-top: 102px;
  padding: 0 360px; }
  @media (max-width: 1680px) {
    .team {
      padding: 0 280px; } }
  @media (max-width: 1440px) {
    .team {
      padding: 0 140px; } }
  @media (max-width: 800px) {
    .team {
      padding: 0 40px;
      margin-top: 60px; } }
  @media (max-width: 540px) {
    .team {
      padding: 0 10px; } }
  .team-members {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 95px; }
  .team-member {
    max-width: 32%;
    text-align: center; }
    .team-member__photo {
      height: 470px;
      background-color: #95e1d3; }
      .team-member__photo-gradient {
        background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
        background: linear-gradient(to bottom, #f38181, #fce38a);
        height: 100%;
        width: 100%;
        position: relative;
        -webkit-transition: .4s;
        transition: .4s; }
        .team-member__photo-gradient:hover {
          -webkit-transform: translate(-10px, -10px);
                  transform: translate(-10px, -10px); }
          .team-member__photo-gradient:hover > img {
            opacity: .1; }
          .team-member__photo-gradient:hover > .socials {
            opacity: 1; }
      .team-member__photo img {
        height: 100%;
        width: 100%;
        -webkit-transition: .4s;
        transition: .4s; }
      .team-member__photo-socials {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: #fce38a;
        max-width: 52%;
        opacity: 0;
        -webkit-transition: .3s;
        transition: .3s; }
        .team-member__photo-socials > a {
          padding: 10px;
          display: inline-block;
          font-size: 18px;
          color: #f38181;
          -webkit-transition: .4s;
          transition: .4s; }
          .team-member__photo-socials > a:not(:first-child) {
            border-left: 1px solid #f38181; }
          .team-member__photo-socials > a:hover {
            background-color: #f38181;
            color: #fff; }
    .team-member-text {
      margin-top: 30px; }
    .team-member__name {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      text-transform: uppercase; }
    .team-member__position {
      display: block;
      margin-top: 16px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 300;
      color: #999;
      text-transform: capitalize; }

.logotypes {
  margin-top: 120px;
  padding: 62px 370px;
  background-color: #f8f8f8;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 1680px) {
    .logotypes__item {
      width: 120px; } }
  @media (max-width: 1280px) {
    .logotypes__item {
      width: 120px; } }
  @media (max-width: 1024px) {
    .logotypes__item {
      width: 60px; } }
  @media (max-width: 1680px) {
    .logotypes {
      padding: 56px 280px; } }
  @media (max-width: 1440px) {
    .logotypes {
      padding: 44px 140px; } }
  @media (max-width: 800px) {
    .logotypes {
      padding: 20px 40px; } }
  @media (max-width: 540px) {
    .logotypes {
      padding: 20px 10px; } }

.work {
  margin-top: 112px; }
  @media (max-width: 800px) {
    .work {
      margin-top: 60px; } }
  .work-container {
    margin-top: 106px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .work-container__item {
      width: 25%;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .work-container__item > img {
        width: 100%; }

.testimonial {
  padding: 100px 360px; }
  @media (max-width: 1680px) {
    .testimonial {
      padding: 80px 280px; } }
  @media (max-width: 1440px) {
    .testimonial {
      padding: 60px 140px; } }
  @media (max-width: 1280px) {
    .testimonial {
      padding: 60px 100px; } }
  @media (max-width: 800px) {
    .testimonial {
      padding: 60px 40px; } }
  @media (max-width: 540px) {
    .testimonial {
      padding: 40px 10px; } }

@media (max-width: 1280px) {
  .avatar {
    width: 160px; } }

@media (max-width: 800px) {
  .avatar {
    width: 120px; } }

@media (max-width: 320px) {
  .avatar {
    width: 60px; } }

.reviews {
  padding: 112px 360px 120px 360px;
  background: url("./../img/reviews-bg.jpg") no-repeat;
  background-size: cover; }
  @media (max-width: 1680px) {
    .reviews {
      padding: 100px 280px; } }
  @media (max-width: 1440px) {
    .reviews {
      padding: 80px 140px; } }
  @media (max-width: 800px) {
    .reviews {
      padding: 40px 40px; } }
  @media (max-width: 540px) {
    .reviews {
      padding: 20px 10px; } }

.comments {
  margin-top: 62px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 800px) {
    .comments {
      margin-top: 30px; } }
  .comments-author {
    margin-top: 72px;
    width: 50%;
    padding: 0 48px 0 40px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1440px) {
      .comments-author {
        padding: 0 28px 0 20px; } }
    @media (max-width: 800px) {
      .comments-author {
        padding: 0; } }
    @media (max-width: 540px) {
      .comments-author {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .comments-author--photo {
      height: auto;
      border-radius: 50%; }
      @media (max-width: 540px) {
        .comments-author--photo {
          width: 30%; } }
    .comments-author--text {
      text-align: left;
      margin-left: 30px; }
      @media (max-width: 540px) {
        .comments-author--text {
          margin-left: 0; } }

.name {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase; }

.position {
  display: block;
  position: relative;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #333;
  font-style: italic;
  text-transform: capitalize; }
  .position:after {
    display: block;
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f38181;
    left: 0;
    bottom: -20px; }

.comment {
  max-width: 390px;
  margin-top: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  line-height: 24px; }
  @media (max-width: 540px) {
    .comment {
      font-size: 12px;
      max-width: 90%; } }

.blog {
  padding: 110px 360px; }
  @media (max-width: 1680px) {
    .blog {
      padding: 100px 280px; } }
  @media (max-width: 1440px) {
    .blog {
      padding: 90px 140px; } }
  @media (max-width: 800px) {
    .blog {
      padding: 90px 40px; } }
  @media (max-width: 540px) {
    .blog {
      padding: 80px 10px; } }
  .blog-box {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 92px; }
  .blog-item {
    width: 30%;
    text-align: left; }
    .blog-item--photo {
      width: 100%;
      position: relative; }
      .blog-item--photo > img {
        width: inherit; }
      .blog-item--photo-label {
        padding: 15px 14px;
        position: absolute;
        bottom: 10px;
        left: -10px;
        background-color: #95e1d3;
        text-align: center; }
        @media (max-width: 540px) {
          .blog-item--photo-label {
            padding: 5px 5px;
            font-size: 14px; } }
        .blog-item--photo-label > span {
          display: block;
          color: #fff;
          text-transform: capitalize; }
          .blog-item--photo-label > span:first-child {
            font-size: 28px;
            font-weight: bold; }
            @media (max-width: 540px) {
              .blog-item--photo-label > span:first-child {
                font-size: 14px; } }
    .blog-item--text {
      padding: 20px 0 24px 0;
      border-bottom: 1px solid #e5e5e5; }
    .blog-item--info {
      padding: 20px 0;
      color: #95e1d3; }
      .blog-item--info em {
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #999;
        font-style: italic;
        margin-left: 7px; }
      .blog-item--info > .icon:not(:first-child) {
        margin-left: 20px; }

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase; }

.desc {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  line-height: 24px;
  margin-top: 20px; }

.map {
  background-image: url("./../img/map-bg.jpg");
  padding: 55px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #f38181;
  text-transform: uppercase; }
  .map > * {
    display: block; }
  .map > .icon {
    font-size: 36px; }
  .map-text {
    position: relative;
    margin-top: 18px; }
    .map-text:after {
      display: block;
      position: absolute;
      content: '';
      height: 3px;
      width: 60px;
      background-color: #f38181;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -40px; }

/*# sourceMappingURL=styles.css.map */
