$icon-basket: "\EA01" !default;

$icon-dribbble: "\EA02" !default;

$icon-envelope: "\EA03" !default;

$icon-fb: "\EA04" !default;

$icon-google-plus: "\EA05" !default;

$icon-linked-in: "\EA06" !default;

$icon-padlock: "\EA07" !default;

$icon-phone: "\EA08" !default;

$icon-placeholder: "\EA09" !default;

$icon-settings: "\EA0A" !default;

$icon-twitter: "\EA0B" !default;

$icon-upload-cloud: "\EA0C" !default;

$icon-vimeo: "\EA0D" !default;
