@import '../../../settings/normalize';
@import '../../../settings/settings';
@import '../../../components/buttons';
@import '../../../components/inputs';
@import '../../../components/css-icons';
body {
    font-family: $font-stack;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #fff;
}

.header {
    height: 100vh;
    padding: 7vh 10%;
    background: $black-color url('../../../../templates/headers/views/img/bg-8-img.jpg');
    background-size: cover;
    text-align: center;
    &__menu {
        @extend %border-radius;
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: $light-grey-color;
        &_nav-wrap {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo {
        @include block-create(44px,
        40px,
        url('../../../../img/logo.svg'));
        background-size: cover;
    }
    &__dropdown {
        display: none;
        color: $black-color;
        margin-left: 20px;
        @media (max-width: $laptop-size) {
            display: block;
        }
        @media (max-width:$mobile-size) {
            margin-left: 5px;
        }
    }
    &__navigation {
        @media (max-width: $laptop-size) {
            display: none;
        }
        &-link {
            @include text-setting(16px,
            36px,
            $black-color);
            margin-left: 40px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                @media (max-width: $tablet-size) {
                    text-decoration: none;
                    background-color: rgba(219, 117, 96, .8);
                    color: #FFF;
                }
            }
            &:last-child {
                @media (max-width: $tablet-size) {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
            @media (max-width: $desktop-size) {
                margin-left: 20px;
            }
            @media (max-width: $laptop-size) {
                margin-left: 15px;
            }
            @media (max-width: $tablet-size) {
                display: block;
                margin: 0;
                padding-left: 20px;
                text-align: left;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
            @media (max-width: $mobile-size) {
                padding-left: 0;
                text-align: center;
                line-height: 50px;
                color: #FFF;
                text-transform: uppercase;
            }
        }
    }
    &__search {
        position: relative;
        width: 160px;
        &-input {
            height: 36px;
            padding: 0 16px;
            padding-left: 30px;
            font-size: 14px;
            @media (min-width: 550px) and (max-width:$tablet-size) {
                padding-left: 40px;
            }
        }
        &-icon {
            top: 50%;
            left: 10%;
        }
        @media (max-width: $tablet-size) {
            width: 50%;
        }
        @media (max-width: $mobile-size) {
            width: 65%;
        }
    }
    &__title {
        margin-top: 14vh;
        margin-bottom: 10vh;
        font-size: 68px;
        line-height: 68px;
        text-transform: uppercase;
        @media (max-width: $tablet-size) {
            margin-top: 10vh;
            margin-bottom: 8vh;
            font-size: 50px;
            line-height: 50px;
        }
        @media (max-width: $mobile-size) {
            margin-bottom: 5vh;
            font-size: 36px;
            line-height: 36px;
        }
        @media (max-height: $mobile-size) {
            margin-bottom: 3vh;
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__order-btn {
        margin-bottom: 10vh;
        @media (max-width: $mobileS-size) {
            min-width: 140px;
            padding: 10px;
            font-size: 16px;
        }
        @media (max-height: $mobile-size) {
            min-width: 160px;
            padding: 4px 10px;
            font-size: 14px;
        }
    }
    &__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        &-item {
            position: relative;
            width: 22%;
            text-align: left;
            &:not(:first-child) {
                margin-left: 50px;
                @media (max-width: $tablet-size) {
                    margin-left: 30px;
                }
                @media (max-width: $mobile-size) {
                    margin-left: 15px;
                }
                @media (max-height: $mobile-size) {
                    margin-left: 15px;
                }
            }
            @media (max-width: $tablet-size) {
                width: 30%;
                text-align: center;
            }
        }
        &-title {
            margin-bottom: 10px;
            font-size: 26px;
            line-height: 26px;
            font-weight: 400;
            margin-top: 0;
            @media (max-width: $tablet-size) {
                font-size: 20px;
                line-height: 20px;
            }
            @media (max-width: $mobileS-size) {
                margin-top: 0;
                margin-bottom: 0;
            }
            @media (max-height: $mobile-size) {
                margin-bottom: 5px;
                font-size: 20px;
                line-height: 20px;
            }
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            @media (max-width: $tablet-size) {
                font-size: 14px;
                line-height: 18px;
            }
            @media (max-height: $mobile-size) {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &-icon {
            position: absolute;
            top: 3px;
            right: 100%;
            margin-right: 10px;
            &_pencil {
                width: 24px;
                height: 24px;
                background: url('../../../../templates/headers/views/img/pencil-icon.png') no-repeat;
            }
            &_brush {
                width: 24px;
                height: 22px;
                background: url('../../../../templates/headers/views/img/brush-icon.png') no-repeat;
            }
            &_keyboard {
                width: 28px;
                height: 20px;
                background: url('../../../../templates/headers/views/img/keyboard-icon.png') no-repeat;
            }
            @media (max-width: $tablet-size) {
                right: 50%;
                top: auto;
                bottom: 100%;
                margin-right: 0;
                margin-bottom: 5px;
                transform: translateX(50%);
            }
        }
    }
}


/*.header__menu {
    padding: 20px;
    background-color: #F2F5F8;
    border-radius: 6px;
}

.header__menu__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    &>* {
        display: inline-block;
    }
    img {
        max-height: 40px;
        max-width: 43px;
    }
    a {
        margin-left: 40px;
        font-size: 16px;
        line-height: 36px;
        color: #383737;
        text-decoration: none;
    }
}

.header__menu__search {
    position: relative;
    width: 160px;
    input {
        box-sizing: border-box;
        width: 100%;
        height: 36px;
        padding-left: 30px;
        padding-right: 10px;
        border: 2px solid #c6ccd2;
        border-radius: 999px;
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #383737;
        outline: none;
    }
}

.header__menu__search__icon {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 10px;
    color: #B4BBC2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 7px;
        border: 2px solid currentColor;
        border-radius: 50%;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2px;
        height: 2px;
        background-color: currentColor;
        box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor;
    }
}

h1 {
    margin-top: 14vh;
    margin-bottom: 10vh;
    font-size: 68px;
    line-height: 68px;
    text-transform: uppercase;
    color: #fff;
}

.order-button {
    margin: 0 auto;
    padding: 22px 72px;
    background-color: red;
    transition: 0.3s;
}

.header__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.header__info__item {
    position: relative;
    margin-top: 10vh;
    width: 22%;
    text-align: left;
    &:not(:first-child) {
        margin-left: 40px;
    }
}

.header__info__text {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.header__info__title {
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.header__info__icon {
    position: absolute;
    right: 100%;
    margin-right: 10px;
}

.header__info__icon--pencil {
    width: 24px;
    height: 24px;
}

.header__info__icon--brush {
    width: 24px;
    height: 22px;
}

.header__info__icon--keyboard {
    width: 28px;
    height: 20px;
}
*/
