<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-2</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../../../css/templates/headers/header3/header-third.css">
</head>

<body>
    <div class="header">
        <div class="header__menu">
            <div class="header__logo"></div>
            <nav class="header__navigation">
                <a href="#" class="header__navigation-link">Products</a>
                <a href="#" class="header__navigation-link">Prices</a>
                <a href="#" class="header__navigation-link">About Us</a>
                <a href="#" class="header__navigation-link">Contacts</a>
            </nav>
            <div class="header__dropdown btn_hamburger"></div>
        </div>
        <h1 class="header__title">It was some time before he obtained <br> any answer, and the reply, when made, was unpropitious</h1>
        <form action="#">
            <div class="header__sign-up-form">
                <div class="header__sign-up-form__item">
                    <input type="email" class="input-field" placeholder="E-mail">
                </div>
                <div class="header__sign-up-form__item">
                    <input type="password" class="input-field" placeholder="Password">
                </div>
                <div class="header__sign-up-form__item">
                    <input type="submit" class="btn btn_rounded btn_info header__sign-up-form__btn" value="Sign up">
                </div>
            </div>
        </form>

    </div>

</body>

</html>
