<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-5</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../../../css/templates/headers/header5/header-fifth.css">
</head>

<body>
    <header class="header">
        <div class="header__chevron header__chevron_left"></div>
        <div class="header__chevron header__chevron_right"></div>
        <div class="header__controls">
            <span class="header__controls__item is-active"></span>
            <span class="header__controls__item"></span>
            <span class="header__controls__item"></span>
            <span class="header__controls__item"></span>
        </div>
        <div class="header__menu">
            <div class="header__logo"></div>
            <nav class="header__navigation">
                <a href="#" class="header__navigation-link">Products</a>
                <a href="#" class="header__navigation-link">Prices</a>
                <a href="#" class="header__navigation-link">About Us</a>
                <a href="#" class="header__navigation-link">Contacts</a>
            </nav>
            <div class="btn_hamburger header__dropdown"></div>
        </div>
        <div class="header__text">
            <h1 class="header__title">Carefully Crafted UI <br> Design Assets</h1>
            <p class="header__paragraph">The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.</p>
        </div>
        <a href="#" class="btn btn_round btn_warning header__start-link">Let’s start!</a>
    </header>
</body>

</html>
