@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./icons/iconfont-varible";
@import "./icons/iconfont-icons";
@import "./partials/base-styles";
@import "./partials/header";
@import "./partials/about-us";
@import "./partials/facts";
@import "./partials/services";
@import "./partials/feautures";
@import "./partials/quote";
@import "./partials/team";
@import "./partials/logotypes";
@import "./partials/work";
@import "./partials/testimonial";
@import "./partials/map";

