<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header-6</title>
    <link rel="stylesheet" href="../../../../css/templates/headers/header6/header-sixth.css">
</head>

<body>
    <div class="header">
        <div class="header__menu">
            <div class="header__dropdown-menu">
                <div class="btn_hamburger header__dropdown"></div>
                <span>Menu</span>
            </div>
            <nav class="header__login-menu">
                <a href="#" class="header__login-menu_link">Log in</a>
                <a href="#" class="header__login-menu_link">Sign Up</a>
            </nav>
        </div>
        <div class="header__logo"></div>
        <div class="header__search">
            <form action="#">
                <div class="search-form">
                    <label class="search-form__label" for="search">Search</label>
                    <div class="search-form__elements">
                        <input type="text" id="search" class="input-field input-field search-form__input" placeholder="Search" required>
                        <button class="btn_square search-form__btn"><span class="icon_search"></span></button>
                        <span class="icon_search input__icon-search"></span>
                    </div>
                </div>
            </form>
        </div>
        <span class="header__search-links">Popular searches: <a href="#">UI Kit</a>, <a href="#">Web Design</a>, <a href="#">Flat</a>, <a href="#">CreativeDash</a></span>
		<p class="header__bottom-text">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
    </div>
</body>

</html>
