.header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 178px;
    @include media(xlLaptop) {
        padding: 30px 250px;
    }
    @include media(sLaptop) {
        padding: 10px 112px;
    }
    @include media(wTablet) {
        padding: 10px 30px;
    }
    &-left {
        @include block-create(171px, 32px);
        @include bg-img(left, contain, no-repeat, url('./../img/logo.svg'));
        @include media(xlLaptop) {
            @include block-create(250px,
            56px);
        }
    }
    &-right {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        &__name {
            margin-right: 4px;
            text-transform: capitalize;
            @include text-config($lato,
            14px,
            700,
            $color: $black-color);
            @include media(xlLaptop) {
                font-size: 24px;
                margin-right: 8px;
            }
        }
        &__avatar {
            @include block-create(30px,
            30px);
            border-radius: 50%;
            @include media(xlLaptop) {
                @include block-create(50px,
                50px);
            }
        }
        &__dropDown {
            position: relative;
            height: 100%;
            &-btn {
                @include block-create(24px,
                24px);
                @include bg-img(center,
                10px,
                no-repeat,
                url('./../img/icons/chevron_down.svg'));
                cursor: pointer;
                @include media(xlLaptop) {
                    @include block-create(42px,
                    42px);
                    background-size: 20px;
                    background-position: center;
                }
            }
            &-links {
                display: none;
                position: absolute;
                top: 150%;
                right: 0;
                min-width: 160px;
                background-color: #f9f9f9;
                border-radius: 4px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                @include media(xlLaptop) {
                    min-width: 260px;
                }
                &>a {
                    display: block;
                    padding: 8px 16px;
                    @include text-config($lato,
                    14px,
                    400,
                    $color: $black-color);
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover {
                        background-color: $background-color;
                    }
                    @include media(xlLaptop) {
                        font-size: 24px;
                        padding: 18px 26px;
                    }
                }
                &.is-active {
                    display: block;
                }
            }
        }
    }
}
