.user-profile-nav {
    padding: 0 9.5px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: content-box;
    min-height: 38px;
    @include media(xlLaptop) {
        padding: 0 20px;
        min-height: 68px;
    }
    &__item {
        box-sizing: content-box;
        display: inline-block;
        padding: 9.5px 18px;
        @include text-config($lato, 14px, 700, $light-grey-color);
        line-height: 17px;
        text-transform: capitalize;
        cursor: pointer;
        transition: .3s;
        &.is-active {
            color: $black-color;
            border-bottom: 2px solid $dark-grey-color;
        }
        &:hover {
            color: $black-color;
        }
        @include media(xlLaptop) {
            font-size: 24px;
            line-height: 27px;
            padding: 19.5px 28px;
        }
        @include media(sLaptop) {
            padding: 9.5px 12px;
        }
    }
}
