.user-profile {
    width: 923px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    &-main {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-left: 36px;
        min-height: 152px;
        &>* {
            display: inline-block;
        }
        &__info {
            margin-left: 45px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__avatar {
            position: relative;
            margin-top: -17px;
            @include block-create(120px, 120px);
            &-photo {
                height: inherit;
                border-radius: 4px;
            }
            &-tag {
                position: absolute;
                bottom: 10px;
                left: -7px;
                display: block;
                @include text-config(lato-font, 10px, 700, $color: #fff);
                background-color: $red-color;
                line-height: 12px;
                text-transform: capitalize;
                padding: 2px 8px;
                border: 1px solid #a60001;
                box-sizing: border-box;
                border-radius: 14px;
            }
        }
        &__text {
            &>* {
                display: block;
            }
            &>strong {
                text-transform: capitalize;
                @include text-config($lato, 18px, 700, $black-color);
                line-height: 22px;
            }
            &>.nickname {
                @include text-config($lato, 14px, 700, $black-color);
                line-height: 17px;
            }
            &>.status {
                @include text-config($lato, 14px, 400, $dark-grey-color);
                line-height: 24px;
            }
        }
        &__btn {
            max-width: 95px;
            padding: 9.5px 25.5px;
            box-sizing: border-box;
            border: 1px solid #7f7f7f;
            border-radius: 4px;
            text-transform: capitalize;
            @include text-config($lato, 14px, 400, #545454);
            transition: .3s;
            cursor: pointer;
            &:hover {
                background-color: $background-color;
            }
            &_show-less {
                position: absolute;
                padding: 4.5px 17px;
                bottom: 12px;
                right: 12px;
                font-size: 12px;
                line-height: 15px;
                border: 1px solid #bebebe;
                border-radius: 4px;
                border-color: #a5a5a5;
            }
        }
    }
}
