.user-profile-info {
    background-color: #f9f9f9;
    padding: 20px 36px 25px 36px;
    text-transform: capitalize;
    @include text-config($lato, 14px, 400, $profile-grey-color);
    line-height: 17px;
    box-shadow: inset 0px 10px 8px -8px #ccc, inset 0px -10px 8px -8px #ccc;
    @include media(xlLaptop) {
        padding: 30px 46px 35px 46px;
        font-size: 24px;
        line-height: 29px;
    }
    @include media(Mobile) {
        font-size: 12px;
        line-height: 14px;
    }
    &__row {
        &:not(:first-child) {
            margin-top: 7px;
        }
        &>.data-desc {
            display: inline-block;
            min-width: 105px;
            @include media(xlLaptop) {
                min-width: 145px;
            }
        }
        &>.data-def {
            margin-left: 35px;
            color: $dark-grey-color;
        }
    }
}


/*
inset 0 -5px 5px 0 #ccc, 
                inset 0 10px 10px -10px #ccc;*/
