.user-profile {
    width: 83%;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    @include media(wTablet) {
        width: 100%;
        margin-top: 50px;
    }
    &-main {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-left: 36px;
        min-height: 152px;
        @include media(xlLaptop) {
            min-height: 220px;
        }
        @include media(Mobile) {
            margin-left: 16px;
        }
        &>* {
            display: inline-block;
        }
        &__info {
            margin-left: 45px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__avatar {
            position: relative;
            margin-top: -17px;
            @include block-create(120px, 120px);
            @include media(xlLaptop) {
                @include block-create(180px, 180px);
                margin-top: -27px;
            }
            &-photo {
                height: inherit;
                border-radius: 4px;
            }
            &-tag {
                position: absolute;
                bottom: 10px;
                left: -7px;
                display: block;
                @include text-config(lato-font, 10px, 700, $color: #fff);
                background-color: $red-color;
                line-height: 12px;
                text-transform: capitalize;
                padding: 2px 8px;
                border: 1px solid #a60001;
                box-sizing: border-box;
                border-radius: 14px;
                @include media(xlLaptop) {
                    font-size: 20px;
                    line-height: 22px;
                    left: -17px;
                    bottom: 20px;
                }
            }
        }
        &__text {
            &>* {
                display: block;
            }
            &>strong {
                text-transform: capitalize;
                @include text-config($lato, 18px, 700, $black-color);
                line-height: 22px;
                @include media(xlLaptop) {
                    font-size: 28px;
                    line-height: 34px;
                }
                @include media(Mobile) {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            &>.nickname {
                @include text-config($lato, 14px, 700, $black-color);
                line-height: 17px;
                @include media(xlLaptop) {
                    font-size: 24px;
                    line-height: 29px;
                }
                @include media(Mobile) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            &>.status {
                @include text-config($lato, 14px, 400, $dark-grey-color);
                line-height: 24px;
                @include media(xlLaptop) {
                    font-size: 24px;
                    line-height: 40px;
                }
                @include media(Mobile) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        &__btn {
            max-width: 98px;
            padding: 9.5px 25.5px;
            box-sizing: border-box;
            border: 1px solid #7f7f7f;
            border-radius: 4px;
            text-transform: capitalize;
            @include text-config($lato, 14px, 400, #545454);
            transition: .3s;
            cursor: pointer;
            @include media(xlLaptop) {
                font-size: 24px;
                max-width: 132px;
            }
            @include media(sLaptop) {
                font-size: 14px;
            }
            &:hover {
                background-color: $background-color;
            }
            &_show-less {
                position: absolute;
                padding: 4.5px 17px;
                bottom: 12px;
                right: 12px;
                font-size: 12px;
                line-height: 15px;
                border: 1px solid #bebebe;
                border-radius: 4px;
                border-color: #a5a5a5;
                @include media(xlLaptop) {
                    font-size: 22px;
                    max-width: none;
                    padding: 14px 27px;
                }
                @include media(sTablet) {
                    display: none;
                }
            }
        }
    }
}
