@import 'variables';
@import 'mixins';
.header-fourth {
    background-color: #262626;
    ;
    padding: 7vh 10%;
    height: 100vh;
    box-sizing: border-box;
}

.header-fourth__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        &:not(:first-child) {
            margin-left: 40px;
        }
    }
}
.header-fourth__phone {
    display: block;
    height: 48vh;
    margin: 0 auto;
}


p {
    text-align: center;
    font-size: 26px;
    line-height: 1.385;
    color: #fff;
}

button {
    @include button;
    margin: 0 auto;
    margin-top: 40px;
    padding: 18px 34px;
    font-size: 16px;
    font-weight: bold;
    background-color: $button-primary-color;
}
