@import 'variables';
@import 'mixins';

.header-second {
    background-color: #d9c26c;
    height: 100vh;
    padding: 15vh 10%;
    box-sizing: border-box;
    nav a:not(:first-child){
        float: right;
        margin-left: 40px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }
    .hamburger {
        @include hamburder-button;
    }
    img {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
    p {
        width: 85%;
        margin:10vh auto;
        font-size: 36px;
        color: #fff;
        text-align: center;
    }
    button {
        @include button;
        background-color: $button-primary-color;
        margin: 0 auto;
        margin-bottom: 12px;
    }
}

