@import 'mixins';
@import 'variables';

.header-first {
    height: 100vh;
    background-image: url('/img/header-first-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 13vh 10%;
    box-sizing: border-box;
}

.header-first__top-content>*{
    display: inline-block;
}

.header-first__top-content { 
    nav { 
        float: right;
        color: #fff;
        &>:not(:nth-child(1)) {
            margin-left: 40px;
        }
        a {
            font-size: 16px;
            text-decoration: none;
            color: #fff;
        }
        .hamburger {
            @include hamburder-button;
        }
    }
}
    
.header-first__bottom-content {
    margin-top: 37vh;
    p {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        line-height: 1.333;
    }
    span {
        display: block;
        margin-top: 34px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

