@mixin hamburder-button {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 14px;
    &:after {
        position: absolute;
        top: 55%;
        content: '';
        width: 18px;
        background-color: #fff;
        height: 2px;
        box-shadow: 0 6px 0 0 #fff,0 -6px 0 0 #fff;
    }
}

@mixin button {
    display: block;
    padding: 18px 30px;
    border: none;
    border-radius: 999rem;
    font-size: 16px;
    color: #fff;
}