.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    .header-link {
        position: relative;
        width: 250px;
        height: 250px;
        margin-bottom: 30px;
        border-radius: 5px;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        transition-duration: 0.3s;
        transition-property: transform;
        &:hover {
            transform: translateY(-10px);
        }
    }
    .header-first-link {
        background: url('../img/header-icons/header-1-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-second-link {
        background: url('../img/header-icons/header-2-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-third-link {
        background: url('../img/header-icons/header-3-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-fourth-link {
        background: url('../img/header-icons/header-4-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-fifth-link {
        background: url('../img/header-icons/header-5-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-sixth-link {
        background: url('../img/header-icons/header-6-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-seventh-link {
        background: url('../img/header-icons/header-7-icon.jpg') no-repeat;
        background-size: cover;
    }    
    .header-eighth-link {
        background: url('../img/header-icons/header-8-icon.jpg') no-repeat;
        background-size: cover;
    }
} 