<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../css/templates/headers/styles.css">
</head>

<body>
    <div class="container">
        <a class="header-link header-first-link" href="views/header1/header-first.html"></a>
        <a class="header-link header-second-link" href="views/header2/header-second.html"></a>
        <a class="header-link header-third-link" href="views/header3/header-third.html"></a>
        <a class="header-link header-fourth-link" href="views/header4/header-fourth.html"></a>
        <a class="header-link header-fifth-link" href="views/header5/header-fifth.html"></a>
        <a class="header-link header-sixth-link" href="views/header6/header-sixth.html"></a>
        <a class="header-link header-seventh-link" href="views/header7/header-seventh.html"></a>
        <a class="header-link header-eighth-link" href="views/header8/header-eighth.html"></a>
    </div>
</body>

</html>
